		.rating {
			unicode-bidi: bidi-override;
			direction: rtl;
			font-size: 30px;
		}
		.rating span.star,
		.rating span.star {
			font-family: FontAwesome;
			font-weight: normal;
			font-style: normal;
			display: inline-block;
		}
		.rating span.star:hover,
		.rating span.star:hover {
			cursor: pointer;
		}
		.rating span.star:before,
		.rating span.star:before {
			content: "\f006";
			padding-right: 5px;
			color: #999999;
		}
		.rating span.star:hover:before,
		.rating span.star:hover:before,
		.rating span.star:hover ~ span.star:before,
		.rating span.star:hover ~ span.star:before {
			content: "\f005";
			color: #e3cf7a;
		}
		.starclick:before{
			color:#e3cf7a!important;
			content: "\f005"!important;
		}