@font-face {
    font-family: 'voronov';                   
    src: url('voronov/voronov.eot');
    src: url('voronov/voronov.eot?#iefix') format('embedded-opentype'),
         url('voronov/voronov.woff') format('woff'),
         url('voronov/voronov.ttf.gz') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'greatvibes';
    src: url('greatvibes/greatvibes-regular.eot');
    src: url('greatvibes/greatvibes-regular.eot?#iefix') format('embedded-opentype'),
         url('greatvibes/greatvibes-regular.woff') format('woff'),
         url('greatvibes/greatvibes-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'veles';
    src: url('veles/veles-regular.0.9.2.eot');
    src: url('veles/veles-regular.0.9.2.eot?#iefix') format('embedded-opentype'),
         url('veles/veles-regular.0.9.2.woff') format('woff'),
         url('veles/veles-regular.0.9.2.ttf.gz') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bardelin';
    src: url('bardelin/bardelin.eot');
    src: url('bardelin/bardelin.eot?#iefix') format('embedded-opentype'),
         url('bardelin/bardelin.woff') format('woff'),
         url('bardelin/bardelin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'basicomical';
    src: url('basicomical/basic_comical_regular_nc.eot');
    src: url('basicomical/basic_comical_regular_nc.eot?#iefix') format('embedded-opentype'),
         url('basicomical/basic_comical_regular_nc.woff') format('woff'),
         url('basicomical/basic_comical_regular_nc.ttf') format('truetype');
}

@font-face {
    font-family: 'beermoney';
    src: url('beermoney/beer_money.eot');
    src: url('beermoney/beer_money.eot?#iefix') format('embedded-opentype'),
         url('beermoney/beer_money.woff') format('woff'),
         url('beermoney/beer_money.ttf') format('truetype');
}

@font-face {
    font-family: 'boomboom';
    src: url('boomboom/boomboom.eot');
    src: url('boomboom/boomboom.eot?#iefix') format('embedded-opentype'),
         url('boomboom/boomboom.woff') format('woff'),
         url('boomboom/boomboom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bradobrei';
    src: url('bradobrei/bradobrei.eot');
    src: url('bradobrei/bradobrei.eot?#iefix') format('embedded-opentype'),
         url('bradobrei/bradobrei.woff') format('woff'),
         url('bradobrei/bradobrei.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brava';
    src: url('brava/brava_novella.eot');
    src: url('brava/brava_novella.eot?#iefix') format('embedded-opentype'),
         url('brava/brava_novella.woff') format('woff'),
         url('brava/brava_novella.ttf') format('truetype');
}

@font-face {
    font-family: 'decorlz';
    src: url('decorlz/decorlz_nm1.eot');
    src: url('decorlz/decorlz_nm1.eot?#iefix') format('embedded-opentype'),
         url('decorlz/decorlz_nm1.woff') format('woff'),
         url('decorlz/decorlz_nm1.ttf') format('truetype');
}

@font-face {
    font-family: 'dited';
    src: url('dited/dited.eot');
    src: url('dited/dited.eot?#iefix') format('embedded-opentype'),
         url('dited/dited.woff') format('woff'),
         url('dited/dited.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'engine';
    src: url('engine/engine-regular.eot');
    src: url('engine/engine-regular.eot?#iefix') format('embedded-opentype'),
         url('engine/engine-regular.woff') format('woff'),
         url('engine/engine-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'foo';
    src: url('foo/foo.eot');
    src: url('foo/foo.eot?#iefix') format('embedded-opentype'),
         url('foo/foo.woff') format('woff'),
         url('foo/foo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gabriela';
    src: url('gabriela/gabriela-regular.eot');
    src: url('gabriela/gabriela-regular.eot?#iefix') format('embedded-opentype'),
         url('gabriela/gabriela-regular.woff') format('woff'),
         url('gabriela/gabriela-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gtw';
    src: url('gtw/gtw.eot');
    src: url('gtw/gtw.eot?#iefix') format('embedded-opentype'),
         url('gtw/gtw.woff') format('woff'),
         url('gtw/gtw.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'imperial';
    src: url('imperial/imperial_web.eot');
    src: url('imperial/imperial_web.eot?#iefix') format('embedded-opentype'),
         url('imperial/imperial_web.woff') format('woff'),
         url('imperial/imperial_web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'kroftsmann';
    src: url('kroftsmann/7fonts.ru_kroftsmann.eot');
    src: url('kroftsmann/7fonts.ru_kroftsmann.eot?#iefix') format('embedded-opentype'),
         url('kroftsmann/7fonts.ru_kroftsmann.woff') format('woff'),
         url('kroftsmann/7fonts.ru_kroftsmann.ttf') format('truetype'),
         url('kroftsmann/7fonts.ru_kroftsmann.svg#KroftsmannRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lasco';
    src: url('lasco/lasco-regular.eot');
    src: url('lasco/lasco-regular.eot?#iefix') format('embedded-opentype'),
         url('lasco/lasco-regular.woff') format('woff'),
         url('lasco/lasco-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'leokadia';
    src: url('leokadia/leokadia_deco.eot');
    src: url('leokadia/leokadia_deco.eot?#iefix') format('embedded-opentype'),
         url('leokadia/leokadia_deco.woff') format('woff'),
         url('leokadia/leokadia_deco.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'alexander';
    src: url('alexander/alexander.eot');
    src: url('alexander/alexander.eot?#iefix') format('embedded-opentype'),
         url('alexander/alexander.woff') format('woff'),
         url('alexander/alexander.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'certege';
    src: url('certege/certege.eot');
    src: url('certege/certege.eot?#iefix') format('embedded-opentype'),
         url('certege/certege.woff') format('woff'),
         url('certege/certege.ttf') format('truetype');
    font-weight: normal;
}


@font-face {
    font-family: 'airport';
    src: url('airport/airport.eot');
    src: url('airport/airport.eot?#iefix') format('embedded-opentype'),
         url('airport/airport.woff') format('woff'),
         url('airport/airport.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'attentica';
    src: url('attentica/attentica_4f_ultralight.eot');
    src: url('attentica/attentica_4f_ultralight.woff') format('woff'),
         url('attentica/attentica_4f_ultralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'azoft';
    src: url('azoft/azoft-sans.eot');
    src: local('â˜º'), 
        url('azoft/azoft-sans.woff') format('woff'), 
        url('azoft/azoft-sans.ttf') format('truetype'), 
        url('azoft/azoft-sans.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'code';
    src: url('code_lat/code_light.eot');
    src: url('code_lat/code_light.eot?#iefix') format('embedded-opentype'),
         url('code_lat/code_light.woff') format('woff'),
         url('code_lat/code_light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'comfortaa';
    src: url('comfortaa/comfortaa-regular.eot');
    src: url('comfortaa/comfortaa-regular.eot?#iefix') format('embedded-opentype'),
         url('comfortaa/comfortaa-regular.woff') format('woff'),
         url('comfortaa/comfortaa-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'flow';
    src: url('flow/flow.eot');
    src: url('flow/flow.eot?#iefix') format('embedded-opentype'),
         url('flow/flow.woff') format('woff'),
         url('flow/flow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'intro';
    src: url('intro/intro.eot');
    src: url('intro/intro.eot?#iefix') format('embedded-opentype'),
         url('intro/intro.woff') format('woff'),
         url('intro/intro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lionel';
    src: url('lionel/lionelofparis.eot');
    src: url('lionel/lionelofparis.eot?#iefix') format('embedded-opentype'),
         url('lionel/lionelofparis.woff') format('woff'),
         url('lionel/lionelofparis.ttf.gz') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lobstertwo';
    src: url('lobstertwo/lobstertwo-regular.eot');
    src: url('lobstertwo/lobstertwo-regular.eot?#iefix') format('embedded-opentype'),
         url('lobstertwo/lobstertwo-regular.woff') format('woff'),
         url('lobstertwo/lobstertwo-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'mailray';
    src: url('mailray/mail_ray_stuff.eot');
    src: url('mailray/mail_ray_stuff.eot?#iefix') format('embedded-opentype'),
         url('mailray/mail_ray_stuff.woff') format('woff'),
         url('mailray/mail_ray_stuff.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'metro';
    src: url('metro/metro.eot');
    src: url('metro/metro.eot?#iefix') format('embedded-opentype'),
         url('metro/metro.woff') format('woff'),
         url('metro/metro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pecita';
    src: url('pecita/pecita.eot');
    src: url('pecita/pecita.eot?#iefix') format('embedded-opentype'),
         url('pecita/pecita.woff') format('woff'),
         url('pecita/pecita.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'perforama';
    src: url('perforama/perforama.eot');
    src: url('perforama/perforama.eot?#iefix') format('embedded-opentype'),
         url('perforama/perforama.woff') format('woff'),
         url('perforama/perforama.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'qlassik';
    src: url('qlassik/qlassik_tb.eot');
    src: url('qlassik/qlassik_tb.eot?#iefix') format('embedded-opentype'),
         url('qlassik/qlassik_tb.woff') format('woff'),
         url('qlassik/qlassik_tb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'redressed';
    src: url('redressed_lat/redressed.eot');
    src: url('redressed_lat/redressed.eot?#iefix') format('embedded-opentype'),
         url('redressed_lat/redressed.woff') format('woff'),
         url('redressed_lat/redressed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'tickertape';
    src: url('tickertape/ticker_tape.eot');
    src: url('tickertape/ticker_tape.eot?#iefix') format('embedded-opentype'),
         url('tickertape/ticker_tape.woff') format('woff'),
         url('tickertape/ticker_tape.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'totshrift';
    src: url('totshrift/normal.eot');
    src: url('totshrift/normal.eot?#iefix') format('embedded-opentype'),
         url('totshrift/normal.woff') format('woff'),
         url('totshrift/normal.ttf') format('truetype');
}


@font-face {
    font-family: 'triod';
    src: url('triod/triodpostnaja.eot');
    src: url('triod/triodpostnaja.eot?#iefix') format('embedded-opentype'),
         url('triod/triodpostnaja.woff') format('woff'),
         url('triod/triodpostnaja.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'whipsmart';
    src: url('whipsmart/whipsmart.eot');
    src: url('whipsmart/whipsmart.eot?#iefix') format('embedded-opentype'),
         url('whipsmart/whipsmart.woff') format('woff'),
         url('whipsmart/whipsmart.ttf') format('truetype');
}


@font-face {
    font-family: 'zhizn';
    src: url('zhizn/zhizn.eot');
    src: url('zhizn/zhizn.eot?#iefix') format('embedded-opentype'),
         url('zhizn/zhizn.woff') format('woff'),
         url('zhizn/zhizn.ttf.gz') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'zion';
    src: url('zion/andrijtype_-_ziontrainprostencil-demibold.eot');
    src: url('zion/andrijtype_-_ziontrainprostencil-demibold.eot?#iefix') format('embedded-opentype'),
         url('zion/andrijtype_-_ziontrainprostencil-demibold.woff') format('woff'),
         url('zion/andrijtype_-_ziontrainprostencil-demibold.ttf') format('truetype');
}


@font-face {
    font-family: 'zopa';
    src: url('zopa/zopa.eot');
    src: url('zopa/zopa.eot?#iefix') format('embedded-opentype'),
         url('zopa/zopa.woff') format('woff'),
         url('zopa/zopa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}