html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; }

	body {
		margin: 0; }
		#myModalLabel{
			color: #374767!important;
			font-size: 40px;
			margin: 0 auto;
			padding-top: 15px;
			padding-bottom: 13px;
			padding-left: 15px;
		}
		.modal-header{
			border-bottom: 17px;
			padding: 0px;

		}
		hr{
			border-top: 2px solid #20a8d8;;
			margin-top: 0px;
			margin-bottom: 0px;

		}
		.modal-header button{
			outline:none!important;
			padding-right: 20px;
			padding-top: 20px;
		}
		.modal-body input{
			border: 1px solid #e1e6ef;

			margin-bottom: 13px;
			width: 288px;
			
			outline: none;

		}

		.modal-body{
			font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
			color: #c0cadd !important;
			padding-top: 0px;
			padding-bottom: 0px;

		}
		.modal-footer-btn{
			display: block!important;
		}

		button.btn.btn-secondary{
			border: 0px;
			background-color: #20a8d8;;
			color: white;
			padding: 10px 20px;
			margin-bottom: 18px;
			outline:none!important;
			font-size: 16px;


		}
		.modal-footer{
			text-align: left;
			border-top: 0px;
			padding: 0px;
			padding-left: 15px;

		}
		.modal-dialog{
			width: 470px;
			height: 240px;
			margin: 10px auto;
		}
		#text_email{
			color: #000000;
			margin-bottom: 0px;
			font-size: 14px;
			margin-top: 20px;
		}
		#text_modal_body{
			font-size: 12px;
			margin-top: 15px;
			margin-bottom: 0px;
			color:#333;}




			@media(max-width:480px){
				.modal-dialog{
					width: auto!important;
				}
				.modal-body input{
					width:  260px;


				}
				#myModalLabel{
					font-size: 30px;
				}
			}
			
