/* slin.css*/
.jcarousel-skin-tango .jcarousel-container{}
.jcarousel-skin-tango .jcarousel-direction-rtl{direction:rtl;}
.jcarousel-skin-tango .jcarousel-container-horizontal{width:1045px;padding:20px 90px;margin:0 auto;}
.jcarousel-skin-tango .jcarousel-container-vertical{width:75px;height:245px;padding:40px 20px;}
.jcarousel-skin-tango .jcarousel-clip{overflow:hidden;}
.jcarousel-skin-tango .jcarousel-clip-horizontal{width:920px;height:285px;margin:0 auto;}
.jcarousel-skin-tango .jcarousel-clip-vertical{width:75px;height:245px;}
.jcarousel-skin-tango .jcarousel-item{width:275px;height:285px;}
.hit_dizaynov2 .jcarousel-skin-tango .jcarousel-item,.hit_dizaynov2 .jcarousel-skin-tango .jcarousel-clip-horizontal{height:325px;}
.jcarousel-skin-tango .jcarousel-item-horizontal{margin-left:20px;margin-right:20px;}
.info-back{display:table-cell;height:260px;vertical-align:middle;width:260px;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal{margin-left:10px;margin-right:0;}
.jcarousel-skin-tango .jcarousel-item-vertical{margin-bottom:10px;}
.jcarousel-skin-tango .jcarousel-item-placeholder{background:#fff;color:#000;}
.jcarousel-skin-tango .jcarousel-next-horizontal{position:absolute;top:143px;right:5px;width:80px;height:80px;cursor:pointer;background:transparent url(/shared/site/images/comment_right_03.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal{left:5px;right:auto;background-image:url(prev-horizontal.png);}
.jcarousel-skin-tango .jcarousel-prev-horizontal{position:absolute;top:143px;left:5px;width:80px;height:80px;cursor:pointer;background:transparent url(/shared/site/images/comment_left_03.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal{left:auto;right:5px;background-image:url(next-horizontal.png);}
.jcarousel-skin-tango .jcarousel-next-vertical{position:absolute;bottom:5px;left:43px;width:80px;height:80px;cursor:pointer;background:transparent url(/shared/site/images/comment_right_03.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus{background-position:0 -32px;}
.jcarousel-skin-tango .jcarousel-next-vertical:active{background-position:0 -64px;}
.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active{cursor:default;background-position:0 -96px;}
.jcarousel-skin-tango .jcarousel-prev-vertical{position:absolute;top:5px;left:43px;width:32px;height:32px;cursor:pointer;background:transparent url(prev-vertical.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus{background-position:0 -32px;}
.jcarousel-skin-tango .jcarousel-prev-vertical:active{background-position:0 -64px;}
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active{cursor:default;background-position:0 -96px;}

/*hover.css*/
div.horizontal-smallsquare-smallborder{position:relative;margin-top:9px;width:250px;float:left;display:block;}
div.horizontal-smallsquare-smallborder section{position:relative;width:250px;height:230px;float:left;text-align:center;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;overflow:hidden;}
div.horizontal-smallsquare-smallborder section:hover{}
div.horizontal-smallsquare-smallborder section img{position:absolute;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;left:0px;width:260px;height:auto;}
div.horizontal-smallsquare-smallborder section.img-slideleft:hover img{margin-left:-35px;}
div.horizontal-smallsquare-smallborder section.img-zoomin:hover img{width:310px;}
div.horizontal-smallsquare-smallborder section.img-slideup:hover img{margin-top:-15px;}
div.horizontal-smallsquare-smallborder section .text{position:absolute;top:0;left:0;margin-left:-500px;display:table;height:100%;cursor:pointer;}
div.horizontal-smallsquare-smallborder section:hover .text{margin-left:0px;}
div.horizontal-smallsquare-smallborder section span{width:210px;display:block;vertical-align:middle;padding:20px;text-align:center;color:black;line-height:1.1;font-size:20px;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);text-shadow:1px 1px 0px rgba(255,255,255,0.3);}
div.horizontal-smallsquare-smallborder section:hover span{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);}
div.horizontal-smallsquare-smallborder section:hover img{opacity:0.35;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);}
section.txt-slideinleftTitle .text span h2{-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;margin-top:-250px;}
section.txt-slideinleftTitle:hover .text span h2{margin-top:0px;}
div.vertical-smallborder section.txt-slideinright .text{-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;margin-left:250px;}
div.vertical-smallborder section.txt-slideinright:hover .text{margin-left:0px;}
div.horizontal-smallsquare-smallborder section.img-scale:hover img{-webkit-transform:scale(1.45);-o-transform:scale(1.45);-moz-transform:scale(1.45);-ms-transform:scale(1.45);transform:scale(1.45);}


*{margin:0;padding:0;}

a{cursor:pointer;}
a:hover{text-decoration:none;color:#03809b;}
h1{font-family:Open Sans;font-size:48px;font-weight:300;}
.tovar_info h1{font-size:32px;}
h2{font-family:Open Sans;font-size:48px;font-weight:normal;font-weight:300;}
h3{font-family:Open Sans;font-size:24px;font-weight:normal;font-weight:300;}
.clear{clear:both;}
.fl{float:left;}
.fr{float:right;}
img{border:0;}
.errors_disable{color:red;font-size:12px;;}
.width_947{margin:0 auto;text-align:left;width:1000px;}
input,textarea{padding:5px;border:1px solid #cccccc;font:12px Arial, Helvetica, sans-serif;}
.go_top{z-index:2;position:fixed;right:40px;;display:none;bottom:40px;background:url(../images/top_scroll_10.png) no-repeat 0 0;width:80px;height:80px;display:none;}
.slider_one .width_947{position:relative;}
.shadow, .shadow.black{background:url(../images/bg_shadow_07.png) repeat;width:100%;height:100%;top:0;position:fixed;left:0;display:none;z-index:100;}
.search_block{position:absolute;width:100%;top:-60px;z-index:3;height:47px;padding-top:13px;background:#333;}
.search_block input{width:400px;padding:7px 10px;border-radius:14px;border:none;background:#fff url(../images/enter_search_03.png) no-repeat 395px 50%;}
.search_block input.submit{cursor:pointer;background:none;width:28px;height:28px;position:absolute;margin:0 0 0 -30px;}
.close_search{border-radius:50%;width:33px;height:33px;display:block;position:absolute;right:0;top:0px;background:#fff url(../images/close_search_03.gif) no-repeat 12px 11px;}
.search_block .width_947{position:relative;text-align:center;}
.header_top{width:100%;z-index:2;height:47px;padding:13px 0 0 0;background:#333333;}
.tel_top{padding-top:5px;width:160px;color:#fff;float:left;}
.tel_top strong{font:bold 18px Arial, Helvetica, sans-serif;}
.connect_block{position:relative;padding-top:7px;float:left;width:170px;}
.connect_block a{padding-right:15px;text-decoration:none;background:url(../images/str_n_grey_03.gif) no-repeat 100% 50%;color:#999999;}
.connect_block a span{border-bottom:1px dotted #999999;}
.connect_block a:hover span{border:none;}
.about{padding-top:7px;float:left;width:118px;position:relative;}
.about a{padding-right:15px;text-decoration:none;background:url(../images/str_n_grey_03.gif) no-repeat 100% 50%;color:#999999;}
.about a span{border-bottom:1px dotted #999999;}
.about a:hover span{border:none;}
.contact{padding-top:7px;float:left;}
.contact a{color:#999999;text-decoration:none;}
.enter_site{position:relative;margin-right:82px;padding-top:7px;float:right;}
.enter_site a{padding-right:15px;text-decoration:none;background:url(../images/str_n_grey_03.gif) no-repeat 100% 50%;color:#999999;}
.enter_site a.profile{background:none;}
.enter_site .profile img{vertical-align:middle;position:absolute;margin:-5px 0 0 -40px;border-radius:50%;}
.enter_site a span{border-bottom:1px dotted #999999;}
.enter_site a:hover span{border-bottom:none;}
.search{float:right;border-radius:50%;background:#fff url(../images/search_ico_03.gif) no-repeat 50% 50%;width:33px;height:33px;display:block;}
.about_menu, .contact_menu, .enter_site_menu{display:none;z-index:12;left:-21px;top:-5px;position:absolute;}
.close_pop_auth{display:none;}
.enter_site_menu.pop_center_window{position:fixed;left:50%;top:50%;margin:-250px 0 0 -200px;;z-index:1001;display:block !important;}
.enter_site_menu.pop_center_window .about_menu_top{display:none;}
.enter_site_menu.pop_center_window .enter_site_content{border-radius:5px;}
.enter_site_menu.pop_center_window .enter_site_content_text{display:none;}
.enter_site_menu.pop_center_window .close_pop_auth{display:block;text-align:right;padding-bottom:10px;position:relative;top:-6px;}
.enter_site_menu.pop_center_window .close_pop_auth a{background:none;padding-right:0;color:#333;}
.about_menu_top{position:relative;z-index:2;width:101px;padding:15px 0 15px 21px;;border-radius:5px 5px 0 0;background:#fff;}
.contact_menu .about_menu_top{width:150px;}
.enter_site_menu .about_menu_top{width:115px;}
.about_menu_content{position:relative;z-index:1;box-shadow:0 0px 20px rgba(0, 0, 0, 0.35);width:200px;border-radius:0 5px 5px 5px;background:#fff;}
.contact_menu .about_menu_content{padding:26px 20px;width:360px;}
.enter_site_content{color:#666666;position:relative;z-index:1;box-shadow:0 0px 20px rgba(0, 0, 0, 0.35);width:360px;border-radius:0 5px 5px 5px;background:#fff;padding:26px 20px 16px 20px;}
.enter_site_content.sm_width{left:-264px;border-radius:5px 0 5px 5px;}
.label_form{position:relative;top:9px;}
.enter_site_content p{padding-bottom:24px;}
.enter_site_content table td a{text-decoration:underline;background:0;padding:0;}
.enter_site_content table td a:hover{text-decoration:none;}
.reg_socseti{text-align:center;}
.reg_socseti_center{margin:0 auto;display:table;}
.reg_socseti a{margin:0 25px;background:none;padding:0;float:left;}
.reg_socseti a span{border:0;text-decoration:underline;}
.reg_socseti a:hover span{text-decoration:none;}
.enter_site_content table td img{float:left;margin:0 10px 5px 0;}
.enter_site_content table td{padding-bottom:15px;vertical-align:top;}
.enter_site_content table td p{padding:13px 0 0 0;}
.enter_site_content table input{width:230px;padding:5px;color:#333;border:1px solid #cccccc;font:18px Arial, Helvetica, sans-serif;background:#fff;}
.enter_site_content table input.send, input.send{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:0.5s;-moz-transition-duration:0.5s;-o-transition-duration:0.5s;transition-duration:0.5s;-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;display:table;height:42px;border:none;border-bottom:2px solid #004f60;border-radius:3px;text-decoration:none;background:#03809b;color:#fff;padding:10px 15px 20px 15px;;width:auto;cursor:pointer;font:bold 14px Arial, Helvetica, sans-serif;}
.enter_site_content table input.send:hover, input.send:hover{color:#fff;background:#0591af;border-bottom:2px solid #004f60;}
.about_menu_content a{color:#666;padding:10px 10px 10px 21px;background:none;display:block;text-decoration:none;}
.about_menu_content a:hover{background:#333333;color:#fff;}
.contact_menu .about_menu_content a{padding:0;font-size:20px;color:#666666;display:block;padding:7px 0 7px 25px;}
.contact_menu .about_menu_content a.zakaz_obratnogo{background:url(../images/obrat_call_ico_03.gif) no-repeat 0 50%;}
.contact_menu .about_menu_content a.start_chat{background:url(../images/online_chat_ico_07.gif) no-repeat 0 50%;}
.contact_menu .about_menu_content a.send_letter{background:url(../images/send_letter_ico_09.gif) no-repeat 0 50%;}
.contact_menu .about_menu_content a.go_chavo{background:url(../images/go_chavo_ico_11.gif) no-repeat 0 50%;}
.form_callback{padding:15px 0 15px 25px;color:#666666;}
.form_callback tr td:first-child{width:100px;vertical-align:top;padding-top:5px;}
.form_callback td{padding-bottom:10px;}
.form_callback input, .form_callback textarea{width:200px;}
.form_callback input.send_callback{border-radius:3px;background:#03809b;border:none;cursor:pointer;padding:7px 10px;border-bottom:2px solid #004f60;color:#fff;font:bold 14px Arial, Helvetica, sans-serif;width:auto;}
.about_menu_content a:last-child{border-radius:0 0 5px 5px;}
.contact_menu .about_menu_content a:hover{color:#666666;}
.about_menu_top a{color:#333;}
.contact_menu .about_menu_content .block_contact_bott{padding-top:15px;}
.contact_menu .about_menu_content .block_contact_bott a{font:14px Arial, Helvetica, sans-serif;color:#666666;padding:7px 0 7px 33px;}
.contact_menu .about_menu_content .block_contact_bott a.skype{background:url(../images/skype_ico_13.gif) no-repeat 0 50%;}
.contact_menu .about_menu_content .block_contact_bott a.icq{background:url(../images/icq_ico_15.gif) no-repeat 0 50%;}
.contact_menu .about_menu_content .block_contact_bott a.gtalk{background:url(../images/gtalk_ico_17.gif) no-repeat 0 50%;}
.contact_menu .about_menu_content .block_contact_bott a.tel{background:url(../images/tel_ico_19.gif) no-repeat 3px 50%;}
.header_logo_fixed .width_947{position:relative;}
.header_logo{padding-top:40px;height:83px;box-shadow:0 1px 4px #e0dada;position:relative;}
.logo{float:left;width:320px;position:relative;top:-10px;}
.sm_logo{display:none;}
.link_catalog{float:left;font:24px Arial, Helvetica, sans-serif;margin:10px 40px 0 50px;}
.katalog_tovars_block{display:none;position:absolute;z-index:4;width:1000px;left:0;top:55px;}
.katalog_tovars_block_top{background:#fff;border-radius:3px 3px 0 0;width:235px;height:55px;box-shadow:0 0px 20px rgba(0, 0, 0, 0.35);margin-left:347px;position:absolute;margin-top:-55px;}
.katalog_design_pop .katalog_tovars_block_top{margin-left:628px;width:255px;}
.katalog_tovars_block_top .show_menu_katalog_bl{display:table;height:47px;padding:10px 5px 0 23px;background:#fff;z-index:11;position:relative;border-radius:3px 3px 0 0;width:207px;}
.katalog_design_pop .katalog_tovars_block_top .show_menu_katalog_bl_d{display:table;height:47px;padding:10px 5px 0 23px;background:#fff;z-index:11;position:relative;border-radius:3px 3px 0 0;width:227px;}
.katalog_design_pop h2{font:24px Open Sans,Arial;color:#333333;padding-bottom:20px;}
.kategor_one_pop{width:127px;float:left;hei ght:164px;text-align:center;color:#666666;font-size:14px;margin:0;}
.menu_design_scroll{height:510px;overflow:auto;}
.kategor_one_pop.last{margin-right:0;}
.katalog_tovars_block_center a.kategor_one_pop span{position:relative;top:0px;}
.pod_menu_cat_td{float:left;width:200px;padding-right:20px;}
.pod_menu_cat_td h2{font:bold 18px Open Sans,Arial;color:#999;padding-bottom:10px;}
.pod_menu_bott_block h2{font:24px Open Sans,Arial;color:#333;padding-bottom:20px;}
.katalog_tovars_block_center .tematiki_a a{display:inline-block;background:#e1e1e1;padding:5px 10px;text-decoration:none;border-bottom:2px solid #cccccc;border-radius:3px;color:#666666;font:bold 14px Arial, Helvetica, sans-serif;margin-right:5px;margin-bottom:6px;}
.pod_menu_cat_td a{text-decoration:none;}
.katalog_tovars_block_center{padding:27px 0px 0 0;box-shadow:0 0px 20px rgba(0, 0, 0, 0.35);background:#fff;border-radius:3px;position:relative;z-index:5;}
.katalog_tov_vn{padding:0 40px;overflow-y:scroll;}
.katalog_design_pop .katalog_tov_vn{overflow-y:auto;}
.katalog_tov_vn.menu_tov{padding-right:10px;}
.katalog_tovars_block_center .clear{height:10px;}
.katalog_tovars_block_center a{display:inline-block;padding:5px 0 5px 0px;font:14px Arial, Helvetica, sans-serif;color:#333333;}
.katalog_tovars_block_center a span{text-decoration:underline;}
.katalog_tovars_block_center a:hover span{text-decoration:none;}
.pod_menu_bott_block{background:#f7f7f7;border-radius:0 0 5px 5px;padding:25px 40px 5px 40px;font:14px Arial, Helvetica, sans-serif;color:#666666;}
.pod_menu_bott_block_one{float:left;width:280px;}
.pod_menu_bott_block_one td{vertical-align:top;}
.pod_menu_bott_block_one td:first-child{padding-right:20px;}
.katalog_tovars_block_center .menu_banner{margin-top:10px;padding-top:10px;border-top:1px solid #e5e5e5;}
.katalog_tovars_block_center .menu_banner a{padding:0 0 0 0;}
.menu_catalog{width:202px;margin-left:10px;float:left;}
.katalog_tovars_block_bott{height:44px;background:url(../images/menu_bott_catalog_09.png) no-repeat -1px 0;}
.link_catalog a.link_show_menu{background:url(../images/srt_n_black_10.gif) no-repeat 100% 50%;padding:0 15px 0 0;text-decoration:none;color:#333;}
.link_catalog a.link_show_menu span{border-bottom:1px dotted #333;}
.link_catalog a.link_show_menu:hover span{border:none;}
.bask{margin-top:10px;color:#666666;float:right;position:relative;}
.bask_text span{border-bottom:1px dotted #666;}
.bask_text{cursor:pointer;}
.bask_text:hover span{border:0;;}
.bask_pop_small{z-index:2;position:absolute;min-width:320px;right:-9px;display:table;top:39px;display:none;;}
.bask_pop_small_top{box-shadow:0 0px 20px rgba(0, 0, 0, 0.35);background:#fff;width:125px;position:relative;lef t:180px;float:right;top:-47px;border-radius:4px 4px 0 0;}
.bask_pop_small_top_vn{background:#fff;padding:8px 9px;border-radius:4px 4px 0 0;position:relative;z-index:4;}
.bask_pop_small_top span{border-bottom:1px dotted #666;cursor:pointer;position:relative;;left:4px;;}
.bask_pop_small_top:hover span{border-bottom:none;}
.bask_pop_small_center{box-shadow:0 0px 20px rgba(0, 0, 0, 0.35);background:#fff;position:relative;z-index:2;border-radius:4px 0 4px 4px;padding:9px;top:-47px;}
.bask span{position:relative;top:8px;float:left;}
.bask a{margin-left:10px;padding:3px 11px;border-radius:50%;display:table;float:right;background:#e5e5e5;color:#fff;text-decoration:none;font:24px Arial, Helvetica, sans-serif;}
.bask a.slider_link{border-radius:3px;background:#03809b;font:bold 14px Arial, Helvetica, sans-serif;padding:11px 11px;;height:auto;}
.not_maket_atach .next_slider_link{display:none;}
.uploaded_design{padding:10px 0;}
.bask a.act{background:#03809b;color:#fff;}
.bask span.slider_price{top:0;color:#333;margin-right:5px;}
.bask .slider_price_all{color:#333;}
.fixed_block{box-shadow:0 1px 2px #eee;top:0;padding:5px 0 10px 0;width:100%;background:#fff;z-index:4;position:fixed;opacity:0.95;}
.fixed_block .logo img{display:none;}
.fixed_block .logo .sm_logo{position:relative;top:14px;display:block;}
.slider{position:relative;overflow:hidden;height:600px;}
.slider_one{float:left;position:relative;background-size:100% auto !important;height:600px;}
.slider_one.this_a{cursor:pointer;}
.slider_one .width_947{height:600px;}
.slider_left{left:0px;position:absolute;top:50%;margin-top:-31px;background:url(../images/str_left_slider_03.png) no-repeat 0 0;width:80px;height:83px;}
.slider_right{right:0px;position:absolute;top:50%;margin-top:-31px;background:url(../images/str_right_slider_03.png) no-repeat 0 0;width:80px;height:82px;}
.slider_control{opacity:0;}
.slider_info{border-radius:2px;text-align:left;width:470px;position:absolute;bottom:-360px;padding:23px 28px;op acity:0;background:url(../images/white_transparent_03.png) repeat 0 0;}
.slider_info_title{padding-bottom:14px;font:24px Arial, Helvetica, sans-serif;}
.slider_info_title a{color:#333;}
.slider_info_title a:hover{color:#03809b;}
.slider_price_all{float:left;background:#ffcc00 url(../images/plachka_krug_13.gif) no-repeat 15px 50%;display:table;padding:0px 14px 0 41px;border-radius:25px 2px 2px 25px;height:34px;line-height:2;color:#333;}
.slider_info .slider_price_all{line-height:1.65;}
.konstruktor_page .slider_price_all{display:inline-block;height:auto;float:none;margin-left:20px;position:absolute;}
.slider_price_all span.slider_price, .slider_price_all strong{font-size:24px;font-weight:normal;}
.price_product .slider_price_all.blue{color:#fff;background:#78cbdd url(../images/dirka_blue_12.gif) no-repeat 15px 50%;font-size:14px;}
.no_price{padding-top:12px;height:28px;font:bold 14px Arial, Helvetica, sans-serif;color:#fff;background:#77b900 url(../images/krug_plashka_green_03.gif) no-repeat 15px 50%;}
.slider_link{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:0.5s;-moz-transition-duration:0.5s;-o-transition-duration:0.5s;transition-duration:0.5s;-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;display:table;height:28px;border-bottom:2px solid #004f60;border-radius:3px;text-decoration:none;background:#03809b;color:#fff;padding:9px 15px 0 15px;;font:bold 14px Arial, Helvetica, sans-serif;margin-left:20px;float:left;}
.slider_link.chuse_tovars{background:#519d45;}
.slider_link.chuse_tovars:hover{background:#5aac4d;}
.price_product input.slider_link{height:auto;padding-top:7px;}
.confirmm_butt{cursor:pointer;}
.slider_link.eche{background:#a3aaa7;border-bottom:2px solid #787b7a;}
.slider_link.mar10{margin-left:10px;}
.slider_link:hover{color:#fff;background:#0591af;border-bottom:2px solid #004f60;}
.slider_link:active{}
.slider_info .slider_change{margin-top:15px;float:right;}
.slider_change a{background:url(../images/slider_change_no_act_03.png) no-repeat 0 0;width:16px;height:16px;margin-left:15px;display:inline-block;}
.slider_change a.act{background:url(../images/slider_change_act_03.png) no-repeat 0 0;}
.catalog_tavar{width:1100px;margin:0 auto;}
.catalog_tavar h1{padding-bottom:30px;;}
.catalog_tavar h3{font:24px Open Sans,Arial;padding-bottom:50px;}
.catalog_tavar .tovar_hit{padding-bottom:50px;}
.tovar_hit .td_maket img{width:250px;}
.listing{color:#666666;text-align:center;}
.listing a{font:bold 14px Arial, Helvetica, sans-serif;background:#e1e1e1;border-radius:3px;border-bottom:2px solid #cccccc;text-decoration:none;color:#333333;display:inline-block;padding:8px 10px;margin:0 10px 0 0;min-width:18px;}
.listing a.show_more_listing{font-size:24px;font-weight:normal;margin-bottom:30px;padding:8px 20px;margin-top:20px;}
.listing a.act{background:#78cbdd;color:#fff;border-bottom:2px solid #78cbdd;}
.listing p{padding-bottom:14px;}
.construktor_banner{background:url(../images/konstruk_baner_bg_02.jpg) no-repeat 50% 0;background-size:cover;color:#fff;height:310px;padding-top:50px;}
.construktor_banner h3{width:770px;font-size:24px;margin:0 auto;padding:40px 0 30px 0;}
.construktor_banner a.slider_link{float:none;display:inline-block;font-size:24px;padding-bottom:6px;font-weight:normal;height:auto;}
.hit_prodaj{text-align:center;padding:55px 0 60px 0;}
.hit_prodaj_wraper{margin:0 auto;display:table;}
.hit_prodaj h2{padding-bottom:40px;}
.tovar_hit{padding:0 15px;pa ding:20px 15px;position:relative;margin:0 40px;width:250px;display:inline-block;}
.designs_all .tovar_hit{padding:0;margin:0 30px}
.designs_all{text-align:center;}
.designs_all .clear{height:30px;}
.prof .tovar_hit, .designer_wraper .tovar_hit{padding:0 5px;}
.pop_tovar{padding-bottom:30px;}
.pop_tovar .tovar_hit{margin:0 20px;}
.tovars_for_design .pop_tovar .tovar_hit{margin:0 0px;}
.tovar_hit table{width:100%;text-align:center;}
.tovar_hit table td{height:260px;}
.tovar_hit a{color:#333;font:24px Arial, Helvetica, sans-serif;}
.title_hit{padding-bottom:10px;}
.tovar_hit .slider_price_all{margin:0 auto;float:none;}
.tovar_hit_hover{border-radius:2px;display:none;padding:20px 15px;z-index:1;margin:-20px 0 0 -15px;background:#fff;box-shadow:0 0px 20px rgba(0, 0, 0, 0.35);position:absolute;top:0;width:250px;}
.act .tovar_hit_hover{display:block !important;opacity:1 !important;}
.tovar_hit .slider_link{display:none;}
.act.tovar_hit .slider_link{color:#fff;position:absolute;line-height:1.3;padding-top:5px;padding-bottom:6px;left:20px;z-index:2;display:block;top:177px;}
.tovar_hit .tovar_hit_hover a{color:#03809b;}
a.del_maket{text-decoration:none;}
a.del_maket:hover{text-decoration:none;}
.tovar_hit_text{padding:15px 0 15px 0;color:#666666;}
.tovar_hit:hover .tovar_hit_hover{disp lay:block;}
.reyting_designer{padding:15px 0;}
.reyting_designer img{margin:0 3px;}
.designer_info{color:#666666;text-align:left;}
.designer_info img{margin-right:20px;float:left;}
.designer_info p{padding-bottom:5px;}
.tovar_hit .tovar_hit_hover .designer_info a{font:bold 14px Arial, Helvetica, sans-serif;color:#333;}
.designer_info a:hover{color:#03809b;}
.tovar_page{max-width:1300px;margin:0 auto;padding:20px 0 0 0;text-align:left;min-height:500px;}
.page_design{min-height:500px;}
.tovar_page .foto_big{float:left;width:50%;text-align:center;}
.tovar_page .foto_big table{margin:0 auto;}
.tovar_page .foto_big td{height:529px;}
.soc_seti_tovar{width:1000px;margin:0 auto;padding:10px 0;}
.tovar_page .tovar_info{padding-top:0px;float:left;width:40%;font:24px Open Sans,arial;}
.tovar_page .tovar_info .tags{font:14px Arial;padding:0px 0px 20px 0;}
.tovar_page .tovar_info .back_link{font:14px Arial;color:#333;}
.tovar_page .tovar_info .back_link a{font:14px Arial;color:#333;}
.tovar_page .tovar_info h1{padding-bottom:10px;line-height:1;padding-top:10px;}
.tovar_page .tovar_info h1.padd_sm{padding-bottom:5px;}
.tovar_text{padding-bottom:20px;font:14px Arial;}
.tovar_text a{color:#03809b;font-size:14px;text-decoration:none;white-space:nowrap;}
.price_product{padding-bottom:20px;}
.price_product .slider_link{font:24px Arial, Helvetica, sans-serif;padding-top:10px;padding-bottom:5px;}
.price_product .slider_price_all{font:24px Arial, Helvetica, sans-serif;padding-top:2px;}
.price_product .slider_price_all.design_price{font-size:18px;}
.price_product .slider_price_all span{font-size:36px;}
.tovar_text a span{border-bottom:1px dotted #03809b;}
.tovar_text a:hover span{border-bottom:none;}
.step_min{background:#e5e5e5;position:fixed;width:100%;z-index:1;bottom:0;}
.step_min_progres{background:#78cbdd;border-radius:0 2px 2px 0;width:60%;height:9px;}
.dop_foto{padding-bottom:20px;}
.dop_foto a{position:relative;float:left;margin-right:10px;}
.dop_foto a img{border:4px solid #e1e1e1;}
.dop_foto a img.video_ico{position:absolute;top:50%;left:50%;margin:-17px 0 0 -13px;border:none;}
.sovet_pm{margin-bottom:40px;background:#03809b;color:#fff;padding:50px 0 60px 0;}
.sovet_pm h2{font-size:36px;}
.sovet_pm a{color:#fff;}
.desc_table_tovar{font-size:16px;color:#666;}
.desc_table_tovar h2{color:#333;font-size:36px;text-align:center;padding:0px 0 45px 0;}
.desc_tovar p{padding-bottom:20px;line-height:1.5;}
.desc_tovar li{line-height:1.5;}
.desc_table_tovar .desc_tovar h2{padding-bottom:25px;text-align:center !important;}
.desc_tovar p, .desc_tovar ul, .desc_tovar p span, .desc_tovar td{font-size:16px !important;font-family:Open Sans;;font-weight:400;color:#333;}
.desc_tovar a{color:#666;}
.desc_table_tovar ul{padding-bottom:20px;}
.desc_table_tovar ul li{padding:5px 0;list-style:none;}
.desc_table_tovar ul li img{position:relative;top:7px;margin-right:5px;}
.desc_tovar{width:670px;margin:0 auto;text-align:left;}
.table_tovar{width:940px;margin:0 auto;text-align:left;padding:50px 0 70px 0;}
.table_tovar table thead td{background:#03809b;color:#fff;font-weight:bold;font-size:14px;}
.table_tovar table thead td:first-child{border-radius:3px 0 0 3px;}
.table_tovar table thead td:last-child{border-radius:0 3px 3px 0;}
.table_tovar td{padding:10px 20px;}
.table_tovar tbody td{font-size:14px;border-bottom:1px dotted #b9b9b9;}
.table_tovar tbody td.sroki{text-align:center;font-weight:bold;}
.table_tovar tbody td.sroki p{padding-top:6px;}
.table_tovar tbody td span{font-size:12px;color:#999999;}
.table_tovar tbody tr.last td, .table_tovar tbody tr td.last{border-bottom:1px solid #e1e1e1;}
.table_tovar tbody td:hover{background:#78cbdd;color:#fff;border-radius:4px;}
.table_tovar tbody td:hover span{color:#fff;}
.table_tovar tbody td.no_hover:hover{background:none;color:#666;}
.table_tovar tbody td.no_hover:hover span{color:#999;}
.hit_dizaynov{padding:55px 0 100px 0;background:#fff;}
.hit_dizaynov h2{padding-bottom:45px;}
.reviews{padding:55px 0 130px 0;background:url("../images/bg_otziv_main_02.jpg") no-repeat 50% 0;color:#333;background-size:cover;}
.reviews h2{padding-bottom:80px;color:#333;}
.otzovi_wraper{overflow:hidden;margin:0 auto;}
.reviews_one{text-align:left;float:left;}
.reviews_info{padding:0 40px 20px 40px;}
.reviews_info td{vertical-align:top;color:#333;}
.reviews_info td p{padding-bottom:4px;}
.reviews_text{color:#333;font-family:Open Sans;font-size:24px;padding:0px 40px;background:url(../images/brackets_left_07.png) no-repeat 0 0, url(../images/brackets_right_03.png) no-repeat 100% 100%;}
.reviews_all_table{width:100%;}
.sovet .reviews_all{min-width:1020px;margin:0 auto;}
.reviews.sovet{margin-bottom:0px;padding:60px 0 100px 0;}
.reviews.sovet h2{padding-bottom:50px;}
.reviews_all_table_td_control{position:relative;width:201px;}
.reviews_control{opacity:0;display:block;width:80px;margin-top:-60px;height:80px;}
.reviews_left{background:url(../images/comment_left_03.png) no-repeat 0 0;float:right;}
.reviews_right{float:left;background:url(../images/comment_right_03.png) no-repeat 0 0;}
.main_designers{padding:0 0 50px 0;}
.group_tovar{padding:60px 0 55px 0;}
.group_tovar h2{padding-bottom:55px;}
.group_tovar_wraper{display:table;margin:0 auto;}
.group_tovar_one{color:#666666;float:left;width:240px;margin:0 60px;}
.group_tovar_one a{font:24px Arial, Helvetica, sans-serif;color:#333333;}
.group_tovar_one a:hover{color:#03809b;}
.group_tovar_one p{padding-top:20px;}
.all_catalog_tovar{padding:96px 0;background:#f7f7f7;}
.all_catalog_tovar_one{width:280px;float:left;margin-right:20px;padding:5px 0 0 20px;}
.all_catalog_tovar_one.last{margin:0;}
.all_catalog_tovar_one a{color:#333;max-width:170px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.all_catalog_tovar_one a:hover{color:#03809b;}
.all_catalog_tovar_one .all_catalog_tovar_one_title{padding-bottom:16px;}
.all_catalog_tovar_one .tovar_one_list{padding-bottom:4px;}
.all_catalog_tovar_one .tovar_one_list span, .all_catalog_tovar_one .tovar_one_list a{color:#666666;float:left;}
.all_catalog_tovar_one .tovar_one_list span.price_catalog{border:1px solid #ffcc00;padding:3px 7px 3px 22px;color:#666666;background:url(../images/plashka_price_07.png) no-repeat 10px 50%;border-radius:12px 0 0 12px;}
.all_catalog_tovar_one .tovar_one_list a{position:relative;top:4px;margin-right:10px;}
.all_catalog_tovar_one .tovar_one_list a:hover{color:#03809b;}
.news_block{padding:60px 0;}
.news_block h2{padding-bottom:30px;}
.news_one{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:0.3s;-moz-transition-duration:0.3s;-o-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;padding:20px;float:left;color:#666666;width:260px;}
.news_one .date{padding-bottom:5px;}
.news_one:hover{border-radius:2px;box-shadow:0 0px 20px rgba(0, 0, 0, 0.35);}
.news_one img{margin-bottom:10px;}
.news_one h3{padding-bottom:24px;font:24px Arial, Helvetica, sans-serif;}
.news_one h3 a{color:#333;}
.news_one:hover h3 a{color:#03809b;}
.news_more{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:0.5s;-moz-transition-duration:0.5s;-o-transition-duration:0.5s;transition-duration:0.5s;-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;position:relative;text-align:center;display:block;margin:0 auto;border-radius:50%;width:80px;height:80px;border:1px solid #fff;background:#f2f2f2 url(../images/plus_03.png) no-repeat 50% 50%;font:34px Arial, Helvetica, sans-serif;color:#333333;}
.news_more:hover{border:1px solid #cdcdcd;background:#fff url(../images/plus_03.png) no-repeat 50% 50%;;}
.news_more:active{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:0.005s;-moz-transition-duration:0.005s;-o-transition-duration:0.005s;transition-duration:0.005s;-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;box-shadow:inset 0 0 2px #888;border:1px solid #cdcdcd;background:#fff url(../images/plus_03.png) no-repeat 50% 50%;;}
.news_more span{left:32px;;position:absolute;top:18px;}
.seo_block{padding-bottom:40px;}
.seo_block p{color:#999999;padding-top:20px;}
.panel{padding:45px 0 50px 0;}
body.panel{padding:0;}
.panel.reviews{padding:55px 0 90px 0;}
.selection_haracter{padding:30px 0 10px 0;}
.foto_right{}
.foto_left{}
.selection_haracter_center{margin:0 auto;width:560px;min-height:540px;}
.selection_haracter_center.tovar_page{max-width:1300px;width:auto;}
.selection_haracter_center h1{text-align:center;}
.selection_haracter_center h3{color:#666;padding:20px 0 40px 0;text-align:center;}
.selection_haracter_center h3 span{color:#333;}
.selection_haracter_center h3 a{border-bottom:1px dotted #666;}
.selection_haracter_center h3 a:hover{border-bottom:none;color:#666;}
.selection_haracter_center select{border:1px solid #999999;padding:5px 5px 5px 5px;font:24px Arial, Helvetica, sans-serif;color:#666;}
.selection_haracter_center select.harak_select{max-width:285px;}
.selection_haracter_center select option{padding-right:10px;}
.change_sroki{float:left;width:90px;height:40px;text-align:center;font:16px Arial, Helvetica, sans-serif;padding-top:60px;color:#666;}
.day1{background:url(../images/one_day_gray_03.png) no-repeat 50% 5px;}
.day2{background:url(../images/two_day_gray_03.png) no-repeat 50% 5px}
.day3{background:url(../images/four_day_gray_03.png) no-repeat 50% 5px;}
.day1.act{background:#78cbdd url(../images/one_day_act_03.png) no-repeat 50% 5px;color:#fff;border-radius:3px;}
.day2.act{background:#78cbdd url(../images/two_day_act_03.png) no-repeat 50% 5px;color:#fff;border-radius:3px;}
.day3.act{background:#78cbdd url(../images/four_day_act_03.png) no-repeat 50% 5px;color:#fff;border-radius:3px;}
.change_sroki span{border-bottom:1px dotted #666;}
.change_sroki:hover span{border:none;}
.change_sroki.act span{border:none;}
.selection_haracter_center label{padding:6px 10px;display:inline-block;color:#666;}
.selection_haracter_center label.act_fild{background:#78cbdd;color:#fff;border-radius:3px;}
.count_change{background:#e1e1e1;color:#333;display:inline-block;border-radius:2px;border-bottom:2px solid #cccccc;min-width:38px;text-align:center;padding:6px 0;position:relative;top:-1px;}
.selection_haracter_center table{font:24px Arial, Helvetica, sans-serif;color:#333;text-align:left;margin:0 auto;min-width:545px;}
.selection_haracter_center table td{padding-bottom:23px;}
.selection_haracter_center .price_product{padding-top:40px;}
.price_product a.proceed{float:left;color:#666666;text-decoration:none;position:relative;margin-right:20px;top:14px;}
.price_product a.proceed span{text-decoration:underline;}
.price_product a.proceed:hover span{text-decoration:none}
.not_like_price{text-align:left;padding:12px 0 0 16px;}
.not_like_price a{border-bottom:1px dotted #03809b;color:#03809b;}
.not_like_price a:hover{border-bottom:none;}
.selection_haracter_confirm{width:960px;margin:0 auto;color:#666666;}
.selection_haracter_confirm h1{color:#333;}
.selection_haracter_confirm h3{padding:10px 0 50px 0;}
.selection_haracter_confirm .foto_desing_produt{float:left;}
.selection_haracter_confirm .foto_desing_produt .foto_desing_produt_one{float:left;margin-right:20px;}
.selection_haracter_confirm .harac_info{float:left;font-size:24px;font-family:Open Sans;text-align:left;width:410px;;}
.selection_haracter_confirm .harac_info td{padding-right:10px;}
.selection_haracter_confirm_center{display:table;margin:0 auto;}
.selection_haracter_confirm .harac_info td{padding-bottom:10px;}
.selection_haracter_confirm .price_product{display:table;margin:0 auto;padding-top:40px;}
.selection_haracter_confirm .price_product table img{position:relative;top:3px;}
.selection_haracter_confirm .price_product table{margin-top:20px;float:right;width:400px;}
.selection_haracter_confirm .price_product table td{padding:10px;text-align:left;border-bottom:1px dotted #bfbfbf;}
.selection_haracter_confirm .price_product table tr td:first-child{width:190px;}
.selection_haracter_confirm .price_product table tr:first-child td{border-top:1px dotted #bfbfbf;}
.stel_line{background:#e5e5e5;position:fixed;bottom:0;width:100%;z-index:1;}
.stel_line_vn{background:#78cbdd url(../images/step_corner_last_15.gif) no-repeat 100% 0;text-align:right;}
.step1{width:40%;}
.step2{width:50%;}
.step3{width:65%;}
.step4{width:75%;}
.stel_line p{text-align:center;width:180px;display:inline-block;height:60px;color:#fff;background:url(../images/step_corner_13.gif) no-repeat 0 0;}
.stel_line p.no_act{background:#e5e5e5 url(../images/step_no_act_02.gif) no-repeat 100% 0;color:#666;}
.stel_line p.no_act.last{background:url(../images/step_no_act_02.gif) no-repeat 100% 0, url(../images/step_pol_06.gif) no-repeat 0 0, #e5e5e5;color:#666;}
.stel_line p.no_act strong{font-weight:normal;}
.stel_line p a{color:#fff;text-decoration:none;position:relative;top:20px;border-bottom:1px dotted #fff;}
.stel_line p strong a{top:0;border-bottom:1px dotted #666;}
.stel_line p strong a.no_link{border:none;cursor:default;}
.stel_line p.no_act a{color:#666;}
.stel_line p a:hover{border:none;}
.stel_line p strong{position:relative;top:20px;}
.selection_design{}
.selection_design h1{margin-top:40px;}
.selection_design h3{padding:20px 0 40px 0;}
.selection_design table.menu_table{text-align:center;margin:0 auto;width:940px;}
.selection_design table.menu_table td{width:25%;}
.selection_design table.menu_table td p{padding-bottom:10px;}
.selection_design table.menu_table a{font-size:24px;color:#333;}
.selection_design_center{padding-bottom:100px;padding-top:50px;}
.selection_design_center .a_border{border-bottom:1px dotted #333;}
.selection_design_center .a_border:hover{border-bottom:none;}
.selection_design_center table a.act{color:#03809b;}
.menedjer_chuse, .upload_file_chuse{width:650px;margin:0 auto;padding:50px 0;font:24px 'Open Sans';display:none;}
.menedjer_chuse p, .upload_file_chuse p{padding-bottom:37px;}
.upload_file_chuse .uploaded_design p{padding-bottom:6px;}
.menedjer_chuse .slider_link, .upload_file_chuse .slider_link{font:24px Arial;float:none;padding:6px 15px;margin:0 auto;}
.buy_in_catalog_chuse{padding:50px 0;}
.contact_page{font-family:"Open Sans";padding-bottom:40px;}
.contact_page_top{background:#03809b;color:#fff;padding:50px 0 70px 0;font:24px "Open Sans";}
.contact_page_top h1{padding-bottom:50px;text-align:center;font-size:48px;}
.contact_page_top table{width:100%;}
.contact_page_top td{width:50%;padding-bottom:20px;}
.contact_page_top td img{vertical-align:middle;margin-right:10px;}
.contact_page_part{padding:50px 0;}
.contact_page_part h2{padding-bottom:25px;font-size:24px;}
.contact_page_part h3{font-size:16px;}
.contact_page_part .map_contact{padding:35px 0 0 0;}
.bg_greay{background:#f7f7f7;}
.blog_stat{color:#333;padding:30px 0 30px 0;width:1000px;margin:0 auto;font-family:'Open Sans';font-size:16px;}
.blog_stat h1, .blog_stat h3{text-align:center;padding-bottom:20px;color:#333;line-height:1.3;}
.blog_stat.stat_designer h1{padding-bottom:40px;color:#333;}
.blog_stat h2{font-size:36px;color:#333333;padding-bottom:20px;}
.blog_stat h3{padding-bottom:30px;font-weight:normal;}
.blog_stat .width_947{width:640px;line-height:2;}
.blog_stat.prosto_stat .width_947{width:1000px;line-height:1.8;}
.blog_stat .width_947 p{padding-bottom:30px;}
.blog_stat blockquote{background:#f7f7f7;padding:20px 20px;margin-bottom:25px;}
.blog_stat .width_947 blockquote p{padding-bottom:0;margin-bottom:0;}
.blog_stat blockquote .width_947{width:1000px;}
.blog_stat blockquote td{font:22px "Open Sans";vertical-align:top;padding-right:25px;}
.blog_stat ul{padding-left:20px;padding-bottom:20px;}
.blog_stat ul li{padding-left:20px;padding-bottom:20px;}
.blog_stat .width_947.soc_seti{width:1000px;}
.simular_stat{background:#f7f7f7;padding:30px 0;margin-bottom:30px;}
.blog_stat .simular_stat .width_947 p{padding-bottom:2px;}
.blog_stat .simular_stat h3{text-align:left;padding-bottom:20px;}
.simular_stat .news_one{line-height:1.5;}
.blog_catalog{padding:30px 0;}
.blog_catalog h1{text-align:center;padding-bottom:20px;}
.blog_catalog h2{text-align:center;width:780px;margin:0 auto;font-size:24px;}
.blog_catalog form{padding-top:30px;margin:0 auto;display:table;}
.blog_catalog input{background:url("../images/enter_search_03.png") no-repeat scroll 377px 50% #FFFFFF;border-radius:14px 14px 14px 14px;padding:7px 10px;width:380px;}
.blog_catalog .news_block{padding:30px 0;}
.account_page{padding-bottom:40px;}
.account_page_top{background:url(../images/bg_acount_07.jpg) repeat-x 0 0;height:240px;padding-top:20px;backgr ound-size:cover !important;}
.menu_account_top{background:url(../images/bg_menu_top_17.png) repeat 0 0;bo x-shadow:0 5px 20px rgba(0, 0, 0, 0.35);position:relative;z-index:1;font:24px "Open Sans",Arial, Helvetica, sans-serif;padding:20px;height:80px;overflow:hidden;}
.menu_account_top img{border-radius:50%;}
.menu_account_top a.become_design{display:block;background:#ffcc00;position:absolute;width:290px;text-decoration:none;color:#333333;font:24px "Open Sans",Arial,Helvetica,sans-serif;right:30px;height:55px;top:34px;border-bottom:3px solid #cc9900;border-radius:2px;z-index:2;text-align:left;}
.menu_account_top a.become_design img{position:relative;top:12px;left:10px;}
.menu_account_top a.become_design span{position:relative;;top:10px;margin-left:5px;}
.menu_account_top a.become_design:hover{background:#eebf04;}
.menu_account_top h1{color:#fff;position:relative;top:-15px;}
.menu_account_top img{float:left;margin-right:20px;}
.menu_account_top a{position:relative;top:-15px;color:#999999;}
.menu_account_bott{text-align:left;ba ckground:url(../images/bg_menu_bot_22.png) repeat 0 0;padding:15px 10px 20px 20px;background:#fff;}
.menu_account_bott a{font:24px Arial, Helvetica, sans-serif;color:#333333;display:inline-block;margin-right:30px;padding:5px 9px;}
.menu_account_bott a.act{background:#78cbdd;text-decoration:none;border-radius:3px;color:#fff;}
.account_page_bott{background:#f7f7f7;padding:40px;}
.account_page_bott table{width:100%;}
.account_page_bott table td{vertical-align:top;font-size:24px;width:33%;}
.account_page_bott input, .account_page_bott textarea, .account_page_bott select{width:270px;padding:5px;border:1px solid #999999;margin-top:4px;font-size:16px;color:#666;}
.account_page_bott select{width:280px;}
.account_page_bott textarea{height:107px;float:left;margin-bottom:0;}
.fild_bl{padding-bottom:25px;}
.account_page form .slider_link{float:none;height:auto;padding:5px 10px;font:24px Arial, Helvetica, sans-serif;color:#fff;margin:20px auto 0 auto;cursor:pointer;}
.my_makets{padding:50px 0;}
.maket_one{text-align:center;width:245px;float:left;margin-right:102px;margin-bottom:60px;}
.maket_one.last{margin-right:0;}
.maket_one a{color:#666666;text-decoration:none;}
.foto_maket{margin-bottom:10px;}
.maket_one a span{margin-left:5px;border-bottom:1px dotted #666;}
.maket_one a:hover span{border:none;}
.maket_one a.slider_link{color:#fff;margin:15px auto 0 auto;;float:none;}
.arhiv_order{}
.arhiv_order .width_947{width:620px;padding-top:20px;}
.arhiv_order .width_947 h3{text-align:center;padding:30px 0 40px 0;}
.del_butt{background:#e1e1e1;text-align:center;width:38px;height:37px;display:inline-block;border-radius:2px;border-bottom:3px solid #cccccc;}
.del_butt img{position:relative;top:11px;}
.order_date h2{font:24px Arial, Helvetica, sans-serif;padding-bottom:15px;}
.order_date h2 a{text-decoration:none;color:#333;}
.order_date td{vertical-align:top;padding:0 30px 50px 0;}
.order_date tr td:first-child{text-align:center;}
.order_date tr td:last-child{padding-top:5px;}
.order_date tr td .del_butt{margin-top:10px;}
.order_date p{color:#666;line-height:1.5;}
.red{color:#cc0000;}
.edit_order{background:#e1e1e1;text-align:center;text-decoration:none;color:#666;font:bold 14px Arial, Helvetica, sans-serif;padding:8px 12px;display:inline-block;border-radius:2px;border-bottom:3px solid #cccccc;}
.price_order{background:#ffcc00 url(../images/plachka_krug_13.gif) no-repeat 13px 50%;font:24px Arial, Helvetica, sans-serif;border-radius:18px 0 0 18px;padding:4px 5px 4px 30px;margin-bottom:13px;}
.price_order span{font-size:14px;}
.design_personal_page .menu_account_top{display:table;min-width:481px;margin:0 auto;background:url("../images/bg_menu_top_17.png") repeat 0 0;padding:20px 20px 0 20px;position:relative;top:50px;}
.design_personal_page .menu_account_top p{position:relative;top:-15px;color:#999;}
.designer_menu{background:#f7f7f7;font:14px Arial, Helvetica, sans-serif;height:91px;box-shadow:inset 0 -1px 5px rgba(0, 0, 0, 0.15);}
.designer_menu_top{padding:5px 0;background:#fff;}
.designer_menu_top .width_947{display:table;}
.design_menu_vn{display:inline-table;}
.designer_menu .width_947{display:table;padding-top:30px;}
.designer_menu_one{color:#666;display:table-cell;width:auto;padding:0 15px;vertical-align:middle;background:url(../images/tochk_03.png) no-repeat 100% -7px;height:62px;}
.designer_menu_one a{color:#666666;}
.designer_menu_one.act{backgr ound:#fff;border-radius:3px 3px 0 0;color:#000;}
.designer_menu_one.act .design_menu_vn{background:#78cbdd;color:#fff;border-radius:3px;}
.designer_menu_one .design_menu_vn{padding:2px 4px;}
.designer_menu_one.act .design_menu_vn a{color:#fff;}
.designer_menu_one.no_border{background:none;}
.designer_catalog{padding:20px 0 0 0;}
.designer_catalog .filter{font:24px Arial, Helvetica, sans-serif;}
.designer_catalog .filter span:first-child{padding-left:20px;}
.designer_catalog .filter select{min-width:170px;margin-right:20px;}
.filter select{color:#666;font-size:24px;padding:4px;margin:0 5px;}
.filter .slider_link{float:none;display:inline-block;margin:0;position:relative;top:-6px;}
.designer_wraper{text-align:center;}
.designer_catalog .width_947{width:1000px;}
.designer_catalog .tovar_hit{margin:20px 30px;}
a.activ_design{background:none repeat scroll 0 0 #e1e1e1;border-bottom:2px solid #cccccc;border-radius:3px 3px 3px 3px;color:#666666 !important;display:table;float:none;margin:20px auto 20px auto;font:bold 14px Arial,Helvetica,sans-serif;height:28px;padding:9px 15px 0;text-decoration:none;}
a.activ_design:hover{color:#666666;}
.designer_catalog .slider_price_all{background:url("../images/plachka_krug_13.gif") no-repeat scroll 15px 50% #FFCC00;color:#333;border-radius:25px 2px 2px 25px;padding:3px 14px 3px 41px;}
.account_page .designer_catalog .slider_price_all{padding-top:2px;padding-bottom:2px;}
.designer_catalog .slider_price_all strong{font:24px Arial, Helvetica, sans-serif;}
.design_ok{background:#66cc33 url(../images/ok_design_03.png) no-repeat 50% 50%;border-radius:2px;width:40px;height:40px;margin-left:2px;}
.design_view{background:#ff9900 url(../images/view_design_03.png) no-repeat 50% 50%;}
.design_edit{background:#e1e1e1 url(../images/ok_design_03.png) no-repeat 50% 50%;}
.design_del{background:#cc3300 url(../images/delete_design_03.png) no-repeat 50% 50%;}
.price_status{display:table;margin:0 auto;}
.price_status .slider_price_all, .price_status .design_ok{float:left;}
.tovar_hit .price_stat{}
.tovar_hit .price_stat table td{height:auto;color:#666666;text-align:right;border-top:1px dotted #bfbfbf;padding:12px 20px;}
.tovar_hit .price_stat table tr td:first-child{text-align:left;}
.designer_wraper .tovar_hit_hover{padding-left:0;padding-right:0;padding-bottom:0;min-height:400px;width:280px;}
.tovar_hit_text a{font:14px Arial, Helvetica, sans-serif;color:#666666 !important;margin:0 10px;}
.tovar_hit_text{height:37px;overflow:hidden;}
.tovar_hit_text a.reco{color:#03809b !important;}
.like_block_designer{background:url(../images/bg_like_04.jpg) no-repeat 50% 50%;height:360px;background-size:cover;margin-bottom:20px;color:#fff;}
.like_block_designer h2{padding:30px 0 10px 0;}
.like_block_designer table{width:960px;margin:40px auto 0 auto;text-align:center;}
.like_block_designer td p{padding-bottom:15px;}
.like_block_designer td #vk_like{margin:0 auto;}
.infa_about_designer{padding:0 0 20px 0;}
.design_count{font:14px Arial, Helvetica, sans-serif;color:#666666;}
.design_count img{float:left;margin-right:10px;border-radius:50%;}
.design_count p{white-space:nowrap;padding-bottom:5px;}
.design_count p a{color:#333;}
.price_table{font:14px Arial, Helvetica, sans-serif;color:#666;}
.price_table img{vertical-align:middle;}
.price_table{border-top:1px dotted #BFBFBF;;display:table;margin:0 0 20px 0;}
.price_table td{border-bottom:1px dotted #BFBFBF;;padding:10px;}
.edit_design_link{background:url(../images/eidt_design_14.png) no-repeat 0 0;font:bold 14px Arial, Helvetica, sans-serif;color:#666666;display:inline-block;padding:0 0 0 50px;min-height:50px;line-height:1.5;float:left;margin-left:20px;width:120px;}
.forgot_form{text-align:center;margin:0 auto;display:table;}
.input_form_forgot{color:#666666;font-size:16px;margin-bottom:3px;width:390px;}
.forgot_form .send{margin:30px auto;}
.popup_bask, .recomm_popup, .preview_pop, .pop_design_big{display:none;position:absolute;z-index:1010;width:940px;background:#fff;top:100px;left:50%;box-shadow:0 5px 20px rgba(0, 0, 0, 0.35);margin:0 0 0 -470px;border-radius:4px;}
.preview_pop, .pop_design_big{width:950px;margin-left:-475px;}
.preview_pop_content{padding:30px 0;font-size:18px;}
.preview_pop .popup_close, .pop_design_big .popup_close{top:10px;right:10px;}
.recomm_popup .block_recomm{padding:30px 0;font-size:16px;}
.popup_bask .img_maket_popup{margin-top:20px;}
.img_maket_popup img{width:250px;}
.popup_bask h3{color:#333;font:48px Open Sans,Arial;}
.popup_bask h4{color:#333;width:700px;margin:0 auto;font:24px Open Sans,Arial;}
.popup_bask .this_zakaz_block{font:24px Open Sans,Arial;color:#666666;}
.popup_bask_top{padding:42px 39px 0 39px;}
.pad_lit.popup_bask_top{padding-left:20px;padding-right:20px;}
.pad_lit.popup_bask_top .popup_close{margin-right:20px;}
.popup_bask_bott{background:#f7f7f7;border-radius:0 0 4px 4px;padding:19px 0;font:24px Arial, Helvetica, sans-serif;color:#333333;margin-top:30px;}
.popup_bask_bott .slider_price_all{float:none;display:inline-block;font-size:14px;height:auto;padding-top:4px;padding-bottom:4px;margin-left:10px;}
.popup_bask_bott .slider_price_all span.slider_price{font-size:36px;}
.popup_bask_bott .slider_link{float:none;display:inline-block;font-size:24px;height:auto;font-weight:normal;margin-left:10px;padding-bottom:10px;position:relative;top:0px;}
.popup_close{float:right;position:relative;top:-20px;right:-20px;}
.this_zakaz_block .count_tovar{border-radius:50%;background:#03809b;color:#fff;font:24px Arial, Helvetica, sans-serif;display:inline-block;min-width:33px;height:30px;padding-top:3px;}
.bask_tovar_order{text-align:left;padding:20px 0 30px 0;color:#666;}
.bask_tovar_order table{width:100%;border-bottom:1px dotted #bfbfbf;}
.bask_tovar_order td{vertical-align:top;border-top:1px dotted #bfbfbf;padding:20px 10px;}
.bask_tovar_order strong{color:#333;}
.bask_tovar_order a{color:#666;}
.info_order_tovar{width:400px;}
.info_order_tovar p{padding-bottom:15px;}
.title_img_order{text-align:center;padding-top:15px;}
.plashka_price{background:#78cbdd url(../images/dirka_blue_12.gif) no-repeat 15px 50%;font:24px Arial, Helvetica, sans-serif;color:#fff;display:table;min-width:114px;text-align:left;border-radius:18px 3px 3px 18px;padding:4px 0;}
.plashka_price strong{font-weight:normal;padding:0 0 0 34px;color:#fff;}
.plashka_price span{font:14px Arial, Helvetica, sans-serif;}
.price_order_one{padding-top:33px;}
.foto_order{text-align:center;}
.center_prodaja{padding-top:20px;}
.center_prodaja_left{float:left;width:285px;box-shadow:0 0 20px rgba(0, 0, 0, 0.35);border-radius:2px;}
.center_prodaja_left .price_stat{color:#666;text-align:left;padding-top:20px;}
.center_prodaja_left .price_stat table{width:100%;}
.center_prodaja_left .price_stat td{padding:12px 20px;border-top:1px dotted #bfbfbf;text-align:right;}
.center_prodaja_left .price_stat tr td:first-child{text-align:left;}
.center_prodaja_right{float:right;width:545px;text-align:left;padding-top:30px;}
.center_prodaja_right textarea{height:100px;}
.center_prodaja_right tr td{vertical-align:top;padding-bottom:25px;}
.center_prodaja_right tr td:first-child{font:24px Arial, Helvetica, sans-serif;width:147px;}
.center_prodaja_right tr td input, .center_prodaja_right tr td textarea{width:390px;font-size:16px;color:#666;margin-bottom:3px;}
.center_prodaja_right tr td p{font:12px Arial, Helvetica, sans-serif;color:#666;}
.pop_bott_prodaja{padding:30px 60px 30px 60px;}
.popup_bask_bott_right{float:right;text-align:right;}
.popup_bask_bott_right input{cursor:pointer;}
.popup_bask_bott_left{float:left;}
.popup_bask_bott_right p{font:14px Arial, Helvetica, sans-serif;text-align:right;padding-top:10px;color:#666666;}
.popup_bask_bott_left p{font:14px Arial, Helvetica, sans-serif;text-align:left;padding-top:10px;color:#666666;}
.popup_bask_bott_left td{padding-left:20px;}
.popup_bask_bott_left input{border:1px solid #999999;font-size:24px;width:110px;}
.center_prodaja_left .slider_price_all{background:url("../images/plachka_krug_13.gif") no-repeat scroll 15px 50% #ffcc00;border-radius:25px 2px 2px 25px;color:#333;margin-top:5px;}
.center_prodaja_left .slider_price_all strong{font-size:24px;}
.logo_checkout{position:absolute;left:50%;margin:0px 0 0 -60px;}
.checkout_page{padding:50px 0 0 0;}
.checkout_page h1{padding-bottom:25px;}
.checkout_page h2{font-size:24px;padding-bottom:30px;}
.checkout_page h2.text_interest{color:#333;padding-top:15px;font-family:Arial, Helvetica, sans-serif;}
.checkout_page_data{padding:39px 0;background:#61bcd0;color:#fff;font-size:24px;margin-bottom:28px;}
.checkout_page_data table{width:940px;margin:0 auto;text-align:left;}
.checkout_page_data table input{border:1px solid #999;width:270px;font-size:24px;color:#666;margin-top:5px;}
.checkout_page_data table input.error_fild{border:1px solid red;background:#f1c1c1;}
.text_checkout_page{padding-top:20px;font-size:14px;}
.text_checkout_page a{border-bottom:1px dotted #fff;}
.text_checkout_page a:hover{color:#fff;border-bottom:none;}
.metod_oplati{float:left;width:333px;}
.metod_oplati h3{font:24px Arial, Helvetica, sans-serif;color:#333333;padding-bottom:20px;padding-left:9px;}
.metod_oplati label{margin-bottom:15px;display:table;color:#666;font-size:24px;padding:6px 19px 6px 9px;}
.metod_oplati label img{vertical-align:middle;margin:0 5px;}
.metod_oplati label.act{background:#78cbdd;border-radius:2px;color:#fff;}
.delivery_detail{float:left;}
.delivery_detail textarea{font-size:16px;}
.delivery_detail table{margin-bottom:10px;}
.delivery_detail h3{font:24px Arial, Helvetica, sans-serif;color:#333333;}
.delivery_detail td{padding-bottom:20px;font-weight:bold;}
.delivery_detail tr td:first-child{padding-right:20px;}
.delivery_detail input, .delivery_detail select{border:1px solid #999999;font-size:24px;padding:2px 5px;}
.delivery_detail textarea{border:1px solid #999999;padding:2px 5px;width:335px;height:100px;}
.delivery_detail select span{color:#78cbdd;}
.delivery_detail .data_time input, .delivery_detail .data_time select{font-size:14px;padding:9px 3px;}
.delivery_detail .data_time input{width:196px;margin-right:10px;}
.delivery_detail .data_time select{width:130px;}
.delivery_detail input.house, .delivery_detail input.floor, .delivery_detail input.etaj{width:95px;margin-right:10px;}
.delivery_detail input.street{width:336px;}
.delivery_detail a{color:#03809b;}
.ya_sogl{position:relative;top:2px;}
.oforml_zakaza{padding:43px 0;display:table;margin:0 auto;}
.oforml_zakaza span.oforml_zakaza_text{float:left;font:24px 'Open Sans';margin-right:10px;}
.disable{cursor:default;background:#c0dfe6;border-color:#bfd3d7;}
.disable:hover{background:#c0dfe6;border-color:#bfd3d7;}
.checkout_page .hit_prodaj_wraper{padding-bottom:70px;}
.enter_site a.reg_link,.enter_site a.auth_link{float:right;background:none;color:#666;border-bottom:1px dotted #666;margin:0 15px 0 0;top:0;padding:0;}
.enter_site a.auth_link, .reg_form, .info_auth, .info_reg{display:none;}
.info_auth{text-align:center;color:red;}
.info_reg{text-align:center;}
.enter_site a.reg_link:hover, .enter_site a.auth_link:hover{border:none;;}
.error_profile{color:red;font-size:14px;;}
.ok_profile{color:green;font-size:14px;;}
.footer{color:#999999;background:#333333;padding:60px 0 40px 0;}
.footer a{color:#999;}
.footer_tel{position:relative;top:-5px;float:left;width:400px;}
.footer_tel strong{color:#fff;font:bold 36px Arial, Helvetica, sans-serif;}
.skype_footer{margin-right:0px;width:180px;text-align:center;float:left;}
.icq_footer{width:130px;text-align:center;float:left;}
.gtalk_footer{width:210px;text-align:center;float:right;}
.about_footer p{padding-bottom:10px;}
.footer h3{padding-bottom:23px;font:24px Arial, Helvetica, sans-serif;}
.about_footer{float:left;width:400px;padding:70px 0 0 0;}
.about_footer_bl{min-width:150px;float:left;padding-right:20px;}
.product_footer{float:left;padding:70px 0 0 0;width:600px;}
.produst_bl{min-width:160px;float:left;padding-right:20px;}
.product_footer .produst_bl p{width:160px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.product_footer p{padding-bottom:10px;}
.footer_logo{margin:60px 0 0px 0;width:100%;}
.footer_logo_td2{text-align:center;}
.footer_logo_td2 a{margin:0 5px;}
.footer_logo_td1{width:250px;}
.footer_logo_td3{width:250px;text-align:right;}
.tshirt_preview{background:url(/shared/site/images/sm_tshirt.gif) no-repeat 0 0;background-size:237px auto;width:237px;padding-top:29px;height:231px;display:block;margin:0 auto;}
.tshirt_preview img{width:122px;}
.landing_top_block{background:#fff url(/shared/site/images/landing_design_bg_02.jpg) no-repeat 0 0;background-size:100% 532px;min-height:532px;}
.landing_top_block h1{line-height:1.3;margin-top:40px;font-size:60px;color:#333333;}
.landing_top_block p{font:24px 'Open Sans';color:#333333;}
.landing_top_block a.slider_link{font:24px Arial;margin:40px auto 0 auto;float:none;padding:10px 20px 8px 20px;}
.landing_middle_block{text-align:center;min-height:540px;background:#333333 url(/shared/site/images/lending_design_star_bg_03.jpg) repeat-x 0 0;}
.landing_middle_block .width_947{text-align:center;}
.landing_middle_block h2{padding-top:45px;;color:#fff;font:36px 'Open Sans';}
.landing_middle_block table{margin:54px 0 70px 0;color:#fff;font:18px 'Open Sans';;}
.landing_middle_block table td{padding:0 15px;vertical-align:top;width:25%;}
.landing_middle_block a.slider_link{font:24px Arial;margin:40px auto 0 auto;float:none;color:#333333;background:#ffcc00;padding:10px 20px 8px 20px;border-bottom:2px solid #cc9900;}
.landing_middle_block a.slider_link:hover{background:#eebf04;}
.landing_bott_block{background:url(/shared/site/images/landing_sky_bg_05.jpg) no-repeat 0 0;height:290px;padding-top:76px;;background-size:100% auto;}
.landing_bott_block table{width:100%;}
.landing_bott_block table td{text-align:center;width:25%;}
.mess_window{background:none repeat scroll 0 0 #FFFFFF;border-radius:7px;box-shadow:0 5px 20px rgba(0, 0, 0, 0.35);display:none;left:50%;margin-left:-200px;;position:fixed;width:400px;z-index:1002;text-align:left;top:50%;margin-top:-150px;}
.mess_window .mess_window_top{background:none repeat scroll 0 0 #292824;border-radius:7px 7px 0 0;color:#999999;font-size:24px;height:45px;padding:15px 10px 0 30px;}
.mess_window a.close_window_login{background:url("http://img.vizitka.ua/close_white_03.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);display:block;float:right;height:34px;margin:0 -10px 0 0;position:relative;top:-15px;width:34px;}
.mess_window .mess_window_botton{padding:20px;font-size:20px;text-align:center;border-radius:0 0 5px 5px;}
.shadow.white{background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAXCAYAAADk3wSdAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACdJREFUeNpi/P///zMGKgMmBhqAUUNHDR01dNTQUUNHDR1RhgIEGABeAQQRVyF9owAAAABJRU5ErkJggg==") repeat scroll 0 0 rgba(0, 0, 0, 0)}
.change_menu_designer{position:absolute;bottom:-15px;right:0;}
.change_menu_designer a{display:inline-block;background:#303030;padding:6px 15px;border-radius:3px 3px 0 0;font-size:24px;color:#fff;text-align:left;}
.change_menu_designer a.act{background:#ffffff;color:#333333;text-decoration:none;}
.menu_account_top .change_menu_designer img{margin-right:10px;}
.designer_start_page{text-align:center;}
.designer_start_page h1{font-size:48px;color:#333333;padding:55px 0 30px 0;}
.designer_start_page .slider_link{float:none;margin:0 auto 50px auto;font-size:18px;padding:10px 20px 8px 20px;}
.designer_start_page h2{font-size:24px;color:#333333;padding-bottom:30px;}
.designer_start_video img{position:relative;top:100px;}
.designer_start_video{background:url(/shared/site/images/bg_designer_start_page_02.jpg) no-repeat 0 0;height:479px;background-size:100% auto;}
.res_design_prodaja{display:none;padding:10px 0 30px 0;}
.stat_designer_block{text-align:left;padding-bottom:40px;}
.stat_designer_block_left{display:table-cell;vertical-align:top;width:50px;;}
.stat_designer_block_left span{text-align:center;background:#78cbdd;font:18px Arial;color:#fff;border-radius:50%;display:inline-block;width:32px;height:26px;padding-top:6px;;}
.stat_designer_block_right{display:table-cell;vertical-align:top;font:18px Arial;color:#333;}
input.bg_profile{border:none;margin-top:13px;}
.stat_designer_block_right textarea{width:880px;height:180px;padding:10px;margin-top:15px;font:14px Arial;border:1px solid #999;}
.stat_designer_block_right.padd_t{padding-top:5px;}
.url_page{color:#03809b;}
.stat_designer_block_right .check_alias{background:none repeat scroll 0 0 #E1E1E1;border-bottom:2px solid #CCCCCC;border-radius:2px;color:#666666;display:inline-block;font:bold 14px Arial;margin-right:4px;padding:6px 14px;position:relative;top:-2px;margin-left:5px;cursor:pointer;}
.preview_head{height:232px;margin-top:20px;}
.blog_stat.stat_designer .menu_account_top h1{color:#fff;padding-bottom:0;text-align:left;}
.blog_stat a{color:#666;}
.tovar_hit .text a{color:#333;text-decoration:none;}
.tovar_hit .text a:hover{text-decoration:underline;}
.stat_designer_block_right .alias_page{margin-left:5px;padding:5px 10px;font:18px Arial;border:1px solid #999999;width:105px;}
.preview_head .menu_account_top{display:table;min-width:470px;margin:0 auto;position:relative;top:25px;}
.preview_head .menu_account_top p{position:relative;top:-10px;}
.status_show{display:inline-block;height:28px;color:#fff;font:bold 14px Arial;text-align:right;padding:8px 13px 0 0;position:relative;top:-2px;display:none;float:right;}
.status_show.accessibly{width:111px;background:url(/shared/site/images/accessibly_03.png) no-repeat 0 0;}
.status_show.busy{width:87px;background:url(/shared/site/images/busy_03.png) no-repeat 0 0;}
.stat_designer_block_right .slider_link{color:#FFFFFF;cursor:pointer;float:none;font:24px Arial,Helvetica,sans-serif;height:auto;margin:20px auto 0;padding:5px 10px;}
.error_page{font-size:24px;color:red;padding-bottom:20px;}
.ok_page{font-size:24px;color:green;padding-bottom:20px;}
a.reco{text-decoration:underline;}
a.reco:hover{text-decoration:none;}
.design_type{display:none;}
.slider_price_all.free{color:#fff;line-height:1.0;font-size:16px;padding-top:4px;padding-bottom:4px;text-align:center;background:#77b900 url(../images/free_tochk_03.gif) no-repeat 15px 50%;}
.page_design .slider_price_all.free{color:#fff;line-height:1.0;font-size:16px;padding-top:3px;padding-bottom:3px;text-align:center;background:#77b900 url(../images/free_tochk_03.gif) no-repeat 15px 50%;}
.free_green{font-weight:bold;color:#75b700;}
.empty_block{text-align:center;font:24px 'Open Sans';font-weight:300;}
.green{color:green;}
.konstuktor_menu{float:left;width:120px;margin-left:10px;}
a.konstuktor_menu_title{text-decoration:none;color:#333;padding:0 0 4px 40px;display:block;background:url(/shared/site/images/kost_ico_03.png) no-repeat 0 0;position:relative;top:7px;}
a.konstuktor_menu_title:hover, a.konstuktor_menu_title_m:hover{color:#333;}
a.konstuktor_menu_title span{border-bottom:1px dotted #333;}
a.konstuktor_menu_title:hover span{border:none;}
.pod_menu_konstruktor_title{background:none repeat scroll 0 0 #FFFFFF;border-radius:3px 3px 0 0;box-shadow:0 0 20px rgba(0, 0, 0, 0.35);height:55px;margin:-40px 0 0 -20px;position:absolute;width:145px;}
.pod_menu_konstruktor_title .konstuktor_menu_title_m{display:block;background:#fff;z-index:6;;height:50px;width:145px;position:relative;border-radius:3px 3px 0 0;}
.pod_menu_konstruktor_title .konstuktor_menu_title_m span{display:block;padding:0 0 4px 40px;background:url(/shared/site/images/kost_ico_03.png) no-repeat 0px 0px;position:relative;width:60px;height:40px;margin:10px 0 0 19px;}
@-moz-document url-prefix(){.pod_menu_konstruktor_title .konstuktor_menu_title_m span{margin:8px 0 0 19px;}
}
.pod_menu_konstruktor_center{background:none repeat scroll 0 0 #FFFFFF;border-radius:3px;box-shadow:0 0 20px rgba(0, 0, 0, 0.35);padding:27px 20px 20px 20px;position:absolute;z-index:5;width:600px;margin-top:10px;;margin-left:-515px;}
.pod_menu_konstruktor_center .td_menu{float:left;width:280px;padding-right:10px;;}
.pod_menu_konstruktor_center p{padding-bottom:12px;}
.pod_menu_konstruktor_center a{color:#333;}
.pod_menu_konstruktor{display:none;position:absolute;border:1px solid red;}
.del_maket{color:red;font-size:18px;margin-left:30px;cursor:pointer;border-bottom:1px dotted red;}
.hover_main_img{position:relative;width:618px;height:529px;display:block;text-align:left;}
.a_hover_img{position:relative;width:243px;height:245px;display:block;;}
.img_hover{opacity:0;position:absolute;left:0;right:0;}
.info_design{padding:20px 0 10px 0;font-size:14px;line-height:1.5;}
.slider_price_all{font-size:18px;}
.hover_main_img:hover img.img_hover, .tovar_hit_hover a.a_hover_img:hover img.img_hover{op acity:1;}
.lupa{position:absolute;top:0px;right:20px;z-index:2;display:none;}
.tovar_hit:hover .lupa{display:block;}
.tovar_hit h2{line-height:0.4;}
.lupa:hover{}
.pop_design_big_bott{text-align:center;padding:10px 0;}
.pop_design_big_bott .slider_price_all{float:none;display:inline-block;padding:0px 14px 11px 41px;}
.pop_design_big_bott .slider_price_all{position:relative;top:2px;}
.pop_design_big_bott .pop_design_big_bott_center{margin:0 auto;display:table;}
.pop_design_big_bott .slider_link{float:none;display:inline-block;font-size:24px;font-weight:normal;padding-bottom:6px;}
.pop_design_big_center{text-align:center;}
.save_window_user{position:fixed;top:50%;margin-top:-150px;}
.save_window_user .popup_close{right:10px;top:10px;}
.save_window_user_center{font-family:Open Sans;font-size:24px;font-weight:300;padding:40px 0;}
.save_window_user_center a.enter_site_link{border-bottom:1px dotted #333;}
.save_window_user_center a.enter_site_link:hover{border:none;}
.del_maket_a{padding-top:15px;}
.del_maket_a a{border-bottom:1px dotted red;color:red;}
.del_maket_a a:hover{border:none;}
.vyvod_deneg, .stat_money{color:#333333;padding:0px 0px 200px 0;text-align:left;width:1000px;margin:0 auto;}
.vyvod_deneg .title{font-size:24px;float:left;position:relative;top:9px;margin-right:10px;}
.stat_money table{width:100%;}
.stat_money table thead td{background:#f7f7f7;border-top:1px solid #e5e5e5;font:bold 14px Arial;color:#666;padding:10px;}
.stat_money table tbody td{padding:15px 10px;border-bottom:1px dotted #ccc;}
.stat_money table tbody td.empty{border-bottom:none;text-align:center;padding:60px 10px;}
.stat_money table tbody td .green_money{color:#669900;}
.stat_money table tbody td .red_money{color:#cc0000;}
.checkout_page_left{width:439px;border-right:1px solid #e5e5e5;text-align:center;vertical-align:top;color:#666666;}
.checkout_page_left select{width:170px;padding:4px;}
.checkout_page_left h3{font-size:18px;padding-bottom:20px;}
.checkout_page_left table{margin:10px auto 0 auto;}
.checkout_page_left tr td{padding:0 10px 10px 0;text-align:left;width:150px;}
.checkout_page_left tr td:first-child{text-align:right;;}
.checkout_page .checkout_page_left h2{padding-bottom:10px;}
.checkout_page_left .wraper{padding:0 20px;}
.checkout_page_left .wraper table{width:100%;}
.checkout_page_right{text-align:center;vertical-align:top;color:#666666;}
.checkout_page_right .wraper{padding:0 0 0 46px;}
.checkout_page_right h2{padding-right:30px;}
.checkout_page_right table{text-align:left;color:#666666;}
.checkout_page_right table td{padding:0 10px 5px 0;}
.checkout_page_right table .oplata_tr td{padding:10px 10px 10px 0;}
.checkout_page_right table td:first-child{width:105px;}
.checkout_page_right table td input{width:280px;}
.checkout_page_right table td input.promokod{width:100px;}
.ispolzovat{margin-left:10px;border-bottom:1px dotted #03809B;}
.ispolzovat:hover{border:none;}
.checkout_page_right table td label img{vertical-align:bottom;position:relative;top:2px;margin-left:3px;}
.checkout_page_right table td p{padding-bottom:10px;}
.checkout_page_right table td input.width_auto{width:auto;}
.checkout_page_right table td select{padding:4px;width:292px;}
.checkout_page_right table td .ya_sogl_label{font-size:12px;;}
.checkout_page_right table td a{color:#03809b;}
.checkout_page_right table td a.add_comm{color:#666666;border-bottom:1px dotted #666;}
.checkout_page_right table td a.add_comm:hover{border-bottom:none;}
.checkout_page_right table td textarea{width:400px;}
.checkout_page_right table td .dostavka_info{padding-top:10px;}
.checkout_page_right table td .dostavka_info p{padding-bottom:3px;}
.checkout_page_right table td .dostavka_info textarea{width:280px;}
#comm{display:none;}
.checkout_page_right table td.td_comm{padding-top:10px;}
.auth_block_order{padding-bottom:20px;}
.auth_block_order a{border-bottom:1px dotted #666;}
.auth_block_order a:hover{border:none;}
.block_39 label{display:block;padding-bottom:5px;;width:290px;padding-top:5px;}
.block_39 label input{position:relative;top:2px;float:left;margin-bottom:20px;margin-right:5px;}
.block_39 label a{font-size:12px;border-bottom:1px dotted #03809b;}
.block_39 label a:hover{border:none;}
.block_39 label a.iframe{text-decoration:none;}
.block_41 select{margin-bottom:10px;}
.dostavka_info{display:none;}
.res_promokod{padding-top:4px;}
.fb_iframe_widget span{vertical-align:baseline !important;}
.other_design{padding:40px 0 50px 0;}
.other_design h2{font-size:30px;padding-bottom:40px;}
.other_design h2 a{text-decoration:none;color:#333;}
.design_user .tovar_hit{min-height:200px;}
.tags{padding-bottom:20px;}
.tags a{color:#333;}
.load_konstructor{display:none;text-align:center;padding:10px 0 5px 0;}
.all_show_stat{font:14px Arial;color:#666;padding-bottom:7px;}
.groups_page h1{padding-bottom:10px;}
.groups_page h3{padding-bottom:40px;color:#999999;}
.groups_page h3 a{text-decoration:none;color:#333;padding-right:12px;position:relative;}
.groups_page h3 a:after{}
.groups_page h3 a span{border-bottom:1px dotted #333;;}
.groups_page h3 a span:after{background:url("/shared/site/images/str_niz_03.png") no-repeat 100% 60%;content:"";right:0;position:absolute;top:41%;width:16px;height:16px;}
.groups_page h3 a:hover span{border:none;}
.menu_sorting{left:0;position:absolute;width:300px;z-index:10;background:#fff;box-shadow:0 0px 20px rgba(0, 0, 0, 0.35);padding:10px 10px;margin-left:-10px;text-align:left;display:none;}
.groups_page .menu_sorting a{background:none;display:block;padding-bottom:5px;}
.groups_page .menu_sorting a:hover{text-decoration:underline;}
.div_sort{display:inline-block;position:relative;}
.filter_groups{float:left;width:225px;text-align:left;font:14px Arial;color:#333333;}
.blog_stat .width_947 .filter_groups div{padding-bottom:10px;}
.blog_stat .width_947 .filter_groups td{vertical-align:top;padding-right:4px;}
.blog_stat .width_947 .filter_groups input{position:relative;;top:3px;}
.blog_stat .width_947 .filter_groups td label{cursor:pointer;}
.blog_stat .width_947 .filter_groups td label:hover{text-decoration:underline;}
.grups_right_part{float:left;width:770px;;}
.designs_all .grups_right_part .clear{height:40px;}
.designs_all .grups_right_part .tovar_hit{margin:0px 0 30px 0;}
.block_filter_groups{}
.block_filter_groups a{text-decoration:none;color:#333;}
.block_filter_groups h4{font-family:Open Sans;font-size:24px;font-weight:300;color:#999;padding-bottom:20px;}
.line{border-bottom:1px solid #e5e5e5;margin-bottom:50px;position:relative;}
.line span{display:inline-block;border:1px solid #e5e5e5;font-family:Open Sans;font-size:24px;font-weight:300;background:#fff;position:absolute;margin-top:-41px;margin-left:-41px;border-radius:50%;width:82px;height:82px;line-height:3;}
.main_konstr, .main_designers{padding-bottom:40px;}
.main_konstr h2 span, .main_designers h2 span, .hit_dizaynov2 h2 span{border-bottom:1px solid #ffcc00;position:relative;}
.main_designers h2{padding-bottom:30px;}
.carusel{width:1190px;margin:0 auto;}
.foto_designer_karusel{width:260px;height:260px;display:table;vertical-align:middle;border-radius:50%;background:#fff;overflow:hidden;}
.foto_designer_karusel img{border-radius:50%;}
.foto_designer_karusel td{width:260px;height:260px;}
.main_name_designer{padding:7px 0 5px 0;font-size:24px;}
.main_name_designer a{text-decoration:none;color:#333;}
.count_design{text-decoration:none;color:#333;font:bold 18px Arial;}
.count_design:hover{text-decoration:none;}
.hit_dizaynov2{padding:40px 0 10px 0;}
.hit_dizaynov2 .tovar_hit_hover{display:none !important;}
.hit_dizaynov2 .tovar_hit{margin:0;}
.hit_dizaynov2 h2{padding-bottom:10px;}
.butt_main{text-align:center;padding-bottom:30px;}
.butt_main a.slider_link{margin:0 auto;float:none;font:24px Arial;line-height:0.8;}
.hit_dizaynov2 .butt_main{position:relative;top:-30px;margin-left:30px;}
.main_designers .butt_main{padding-top:15px;margin-left:50px;}
.more_info_product{padding-top:20px;font-size:20px;color:#333;}
.more_info_product a{border-bottom:1px dotted #333;color:#333;}
.more_info_product a:hover{border:none;}
.info_product{width:960px;margin:0 auto;font-family:'Open Sans';font-size:16px;color:#333;text-align:left;}
.info_product .price_status{float:left;}
.price_info_product{float:left;position:relative;top:10px;margin-right:10px;}
.info_product h2{text-align:center;font-size:30px;padding-bottom:30px;}
.info_product .info_product_desc{margin:0 auto;width:800px;}
.info_product p{padding-bottom:10px;}
.all_desc_product{display:none;}
.account_page{padding:0;}
.account_page .designs_all{padding-bottom:30px;}
.account_page .designer_catalog{padding-top:0;}
.account_page .designer_catalog .filter{padding-top:20px;}
.seo_text_user{padding:20px;text-align:left;font-family:"Open Sans";font-size:16px;}
.tovar_hit .text a.buy_design, .save_next a.buy_design.next_step{background:#519d45;color:#fff;text-decoration:none;display:inline-block;padding:5px 10px;border-bottom:2px solid #004f60;border-radius:3px;position:absolute;bottom:10px;left:50%;margin-left:-45px;}
.save_next a.buy_design.next_step{border-radius:2px;position:static;left:auto;margin:0;padding:8px 14px;}
.tovar_hit .text a.buy_design:hover, .save_next a.buy_design.next_step:hover{background:#5aac4d;text-decoration:none;}
.desc_product_oform{text-align:left;color:#666;font-size:13px;}
.desc_product_oform p{padding-top:5px;}
.desc_product_oform p a.see_more{border-bottom:1px dotted #666;}
.desc_product_oform p a.see_more:hover{border-bottom:none;}
.pop_desc_product{text-align:left;padding:20px;display:none;top:50%;}
.pop_desc_product p{padding-bottom:20px;}
.pop_desc_product .popup_close{right:0;top:0;}
.pop_desc_product img{vertical-align:middle;}
.show_all_filter{padding-top:5px;}
.show_all_filter a{border-bottom:1px dotted #333;}
.show_all_filter a:hover{border:none;}
.filter_left.hide{display:none;}
.need_money{float:right;background:#519d45;display:inline-block;padding:5px 10px;color:#fff;border-bottom:2px solid #004f60;border-radius:3px;position:relative;top:5px;}
a.need_money:hover{background:#5aac4d;color:#fff;}
.pop_money{text-align:left;width:430px;margin-left:-250px;padding:20px;position:fixed;top:50%;margin-top:-200px;}
.pop_money table{width:100%;}
.pop_money td{padding:0 10px 10px 0;}
.pop_money td input, .pop_money td textarea{width:270px;;}
.pop_money td input.send_b{cursor:pointer;width:150px;}
.pop_money .popup_close{right:-10px;top:-10px;}
.pop_money h2{font-size:26px;padding-bottom:20px;}
.part_paralax{background:url('/shared/site/images/para;ax_bg_02.jpg') no-repeat 50% 0;height:346px;position:relative;}
.part_paralax .img3, .part_paralax .img1, .part_paralax .img2{position:absolute;left:50%;margin-left:-142px;}
.price_konst table{position:absolute;}
#rating_1{margin-bottom:15px;}
.vote-hover{padding:0 !important;}
.design_reyting img{border-radius:50%;}
.design_reyting td{padding-bottom:20px;padding-right:10px;vertical-align:top;}
.blog_stat .width_947 .design_reyting p{padding-bottom:0px;margin:0;}
.design_reyting .name_design{font-size:24px;color:#666666;}
.design_reyting .stat_design{font:14px Arial;color:#666666;line-height:1.2;}
.design_reyting .img_design a{margin-right:20px;;}
.design_reyting .reyting{background:url(/shared/site/images/design_reyting_03.jpg) no-repeat 0 0;width:80px;height:80px;display:table-cell;text-align:center;vertical-align:middle;}
.reytind_bott{background:#d5d7d6;}
.reytind_bott_vn{margin:0 auto;width:960px;text-align:left;color:#333333;padding:50px 0 70px 0;background:url("/shared/site/images/men_designer_07.png") no-repeat 100% 100%;}
.reytind_bott_vn a, .page_design_landing_vn .stat_design{display:inline-block;background:#ffcc00;color:#333;font-size:24px;text-decoration:none;padding:10px 15px;border-radius:30px;margin-top:20px;box-shadow:0 1px 1px #666;}
.page_design_landing{background:#eff1ef;}
.page_design_landing_vn{width:1160px;margin:0 auto;padding-top:35px;;}
.text_page_design{text-align:left;padding-top:50px;}
.need_auth .mess_window_botton a{text-decoration:underline;}
.mess_window_botton{background:#fff;}
.terms{width:800px;background:#fff;position:absolute;top:50%;left:50%;margin:-320px 0 0 -420px;padding:40px 10px 20px 20px;z-index:1001;border-radius:5px;box-shadow:0 0 20px rgba(0, 0, 0, 0.35);text-align:left;display:none;}
.terms_vn{overflow:auto;height:500px;}
.terms p{padding-bottom:7px;}
.terms .popup_close{position:absolute;margin:30px 30px 0 0;}
.terms .slider_link{margin:20px auto 5px auto;float:none;}
.blog .show_more{display:none;}
.desctop_name{display:inline;}
.mobile_name{display:none;}
.disqus_block{width:960px;margin:0 auto;}
.foto_big_width{width:540px;margin:0 auto;}
@media (max-width:990px){.foto_big_width{width:auto;}
.foto_big_width img{max-width:100%;}
.hit_dizaynov2{padding-top:20px;}
.disqus_block{display:none;}
.tovar_page .foto_big{float:none;width:auto;}
.tovar_page .tovar_info{float:none;width:auto;}
.page_design{min-height:50px;padding:20px;}
.info_product{padding:0 0px;}
.info_product td{display:block;}
.info_product .info_product_desc{width:auto;}
.tovar_hit{text-align:center;}
div.horizontal-smallsquare-smallborder section{float:none;}
.price_status{width:100%;display:block;height:34px;}
.price_status .slider_price_all, .price_status .design_ok{float:none;}
.blog_stat img{max-width:100%;height:auto !important;}
.blog_catalog h2{width:auto;font-size:18px;padding:0;}
.blog_stat{padding:20px;}
.news_block .width_947{padding:0;}
#disqus_thread{display:none;}
.news_one{padding:10px;}
.blog_catalog input{width:80%;padding:7px 5%;}
.blog_catalog form{width:100%;}
.link_catalog a.link_show_menu{background:none;}
.blog_stat{padding-bottom:0;}
body{min-width:100px;}
.width_947, .jcarousel-skin-tango, .jcarousel-container-horizontal, .jcarousel-clip-horizontal{width:auto;}
.main_konstr, .line, .reviews, .news_one p, .reytind_bott, .seo_block, .soc_seti{display:none;}
.news_one p.date, .footer_logo_td1, .footer_logo_td3, .contact, .enter_site, .form_callback, .contact_menu .about_menu_content a.send_letter, .contact_menu .about_menu_content a.zakaz_obratnogo{display:none;}
h1{font-size:30px;}
h2{font-size:28px;padding:0 15px;}
.width_947{padding:0 20px;}
.jcarousel-skin-tango .jcarousel-container-horizontal, .jcarousel-skin-tango .jcarousel-clip-horizontal, .carusel,
.product_footer, .logo, .about_footer, .about, .contact_menu .about_menu_content, .grups_right_part,
.blog_stat.prosto_stat .width_947, .blog_stat{width:auto;}
.jcarousel-skin-tango .jcarousel-prev-horizontal, .jcarousel-skin-tango .jcarousel-next-horizontal, .go_top{width:50px;height:50px;background-size:cover;;}
.logo img{width:150px !important;height:auto !important;}
.logo img.sm_logo{width:40px !important;height:40px !important;}
.main_konstr, .main_designers{padding-bottom:0px;}
.footer_tel{padding-bottom:20px;}
.link_catalog{margin-right:0;}
.butt_main a.slider_link{font-size:20px;}
.jcarousel-skin-tango .jcarousel-container-horizontal{padding:20px 20px;}
.hit_dizaynov2 .butt_main, .main_designers .butt_main{margin-left:0;}
.search_block input{width:70%;}
.tel_top, .connect_block{width:auto;padding-right:15px;}
.form_callback tr td:first-child{padding-right:10px;}
.form_callback input, .form_callback textarea{width:150px;}
.contact_menu .about_menu_content{padding:0 20px 20px 20px;}
.link_catalog{margin-top:0;}
.katalog_tovars_block{width:auto;margin:0 10px;}
.katalog_tovars_block_center .clear{display:none;}
.kategor_one_pop{min-height:160px;}
.pod_menu_cat_td h2{padding:10px 0;}
.katalog_tovars_block_top{margin:-60px 0 0 197px;}
.katalog_tovars_block{top:50px;}
.katalog_tovars_block_center{top:-5px;}
.katalog_design_pop .katalog_tovars_block_top{margin-left:438px;}
.filter_groups{margin:0 auto;float:none;}
.katalog_tov_vn{padding:0 15px;}
.link_catalog{font-size:20px;}
.fixed_block .link_catalog{margin-top:10px;}
div.horizontal-smallsquare-smallborder section .text{position:static;}
h3{font-size:18px;}
.news_one h3{font-size:18px;}
.groups_page h3{padding-bottom:0px;}
.block_filter_groups h4{font-size:18px;}
.groups_page h1{padding-bottom:20px;}
.katalog_design_pop .katalog_tovars_block_top{display:none !important;}
.create_kreative{display:none;}
.desctop_name{display:none;}
.mobile_name{display:inline;}
.header_logo{height:auto;padding-bottom:10px;padding-top:30px;}
.info_product{width:auto;}
.logo_checkout{float:right;left:auto;position:static;margin:0;}
.checkout_page{padding-top:20px;}
.checkout_page h1{padding-bottom:15px;}
.checkout_page_left, .checkout_page_right{display:block;}
.checkout_page_right .wraper{padding:0;}
.checkout_page_right h2{padding:0 0 20px 0;font-size:18px;}
.checkout_page_left tr td{width:50%;}
.checkout_page_left{width:100%;border:none;}
.checkout_page_left select, .checkout_page_right table td input, .checkout_page_right table td select{width:100%;}
.oforml_zakaza{padding:20px 0;}
.checkout_page_right table td:first-child{width:40%;text-align:right;}
.checkout_page_right table td label img{display:none;}
.auth_block_order{display:none;}
.checkout_page_right table td textarea{width:100%;padding:0;}
.oforml_zakaza span.oforml_zakaza_text{font-size:18px;}
.price_product .slider_price_all{font-size:20px;}
.price_product .slider_price_all span{font-size:26px;}
.oforml_zakaza .confirmm_butt{margin-top:20px;margin-left:0;}
.checkout_page .slider_price_all{float:right;}
.oforml_zakaza_text{position:relative;top:5px;}
.popup_bask, .recomm_popup, .preview_pop, .pop_design_big{width:90%;margin-left:-47%;padding:20px 2%;}
.block_39 label{width:auto;}
}
@media (max-width:500px){.connect_block{display:none;}
.about{padding-top:12px;padding-left:20px;}
.link_catalog{margin-left:20px;}
.header_top{height:auto;padding:10px 0;}
.connect_block{padding-bottom:10px;}
.tel_top{padding:10px 10px 10px 0px;}
.skype_footer, .gtalk_footer, .footer_tel{float:none;width:auto;padding-bottom:25px;text-align:center;top:0;}
.about_footer, .product_footer{padding-top:20px;float:none;}
.footer{padding-top:20px;}
.div_sort{position:static;}
.div_sort .menu_sorting{margin:0;width:90%;padding:10px 5%;text-align:center;}
.groups_page .menu_sorting a{margin-bottom:10px;}
.kategor_one_pop{width:44%;padding:0 2%;min-height:120px;}
.kategor_one_pop img{width:70px;height:auto;}
.katalog_tovars_block_center a.kategor_one_pop span{display:block;}
}
@media (max-width:400px){.logo img{width:100px !important;margin-top:10px;}
}
@media (max-width:350px){.link_catalog{font-size:17px;}
.fixed_block .link_catalog{font-size:20px;margin-top:20px;}
}
.design_name{margin-bottom:30px;font-family:"Open Sans";}
.label_count_all{
    background: #ffcc00;
    font-size: 12px;
    position: absolute;
    border-radius: 4px;
    right: -155px;
    top:-5px;
}
.label_count_all span{
    font-size: 18px;
    border: none !important;
    text-decoration: none;

}
.label_count_all td{
    padding: 3px;
}
